.site41_bann_col0_slide_sp {
  background-image: url('../img/bg_sp.png');
  background-size: 100% 100%;
  overflow: hidden;
  height: 280px;
  width: 100%;
  .item-title {
    padding-top: 85px;
    a {
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
      }
    }
    .main {
      position: relative;
      padding-right: 20px;
      &::after {
        position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      top: 7px;
      border-top: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      margin-left: 10px;
      margin-top: 1px;
      }
    }
  }
}
.site41_sanpham {
  overflow: hidden;
  width: 100%;
  padding: 50px 0;
  float: left;
  .site41_profil_col3_danhmuckqnc {
    width: 25%;
    float: left;
    padding-right: 25px;
    .linhvuc {
      width: 100%;
      input {
        display: none;
      }
      input[type=checkbox]:checked + .item_fields > .extra {
        display: block;
      }
      input[type=checkbox]:checked + .item_fields > .das {
        display: block;
      }
      input[type=checkbox]:checked + .item_fields .item_title > .lil_arrow {
        -webkit-transition: -webkit-transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        border-top: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgb(255, 255, 255);
      }
      .item_fields {
        margin-bottom: 15px;
        .item_title {
          width: 100%;
          margin: 0;
          background: #2275BC;
          position: relative;
            .title3_2 {
              text-transform: uppercase;
              text-align: center;
              padding: 10px 20px;
              margin: 0;
            }
            .lil_arrow {
              width: 8px;
              height: 8px;
              transition: transform 0.8s;
              -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
              border-top: 2px solid rgb(255, 255, 255);
              border-right: 2px solid rgb(255, 255, 255);
              float: right;
              position: relative;
              top: -27px;
              right: 20px;
              transform: rotate(45deg);
          }
          .bar {
            width: 0px;
            transition: width 0.15s;
            height: 2px;
            position: absolute;
            display: block;
            background: #355789;
            bottom: 0;
            left: 0;
          }
        }
        .extra {
          display: none;
          padding-left: 15px;
          padding-top: 15px;
          text-align: left;
          margin: 0;
          padding-right: 10px;
          background: #FAFAFA;
          li {
            display: flex;
            input {
              display: none;
            }
            label {
              margin: 0;
              padding: 10px 0;
              width: 100%;
              display: flex;
              position: relative;
              padding-left: 30px;
              cursor: pointer;
  
            }
            /* huy fix */
            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
              content: '';
              position: absolute;
              top: 13px;
              left: 0;
              width: 18px;
              height: 18px;
              border: 1px solid #BDBDBD;
              box-sizing: border-box;
              border-radius: 3px;
              background: #FFF;
              box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
              -webkit-transition: all .275s;
              transition: all .275s;
            }
            /* huy fix */
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
              content: '✓';
              position: absolute;
              top: 22px;
              left: 5px;
              font-size: 13px;
              color: #2275BC;
              line-height: 0;
              -webkit-transition: all .2s;
              transition: all .2s;
            }
            /* huy fix */
            [type="checkbox"]:not(:checked) + label:after {
              opacity: 0;
              -webkit-transform: scale(0) rotate(45deg);
              transform: scale(0) rotate(45deg);
            }
            [type="checkbox"]:checked + label:after {
              opacity: 1;
              -webkit-transform: scale(1) rotate(0);
              transform: scale(1) rotate(0);
            }
            input[type=checkbox]:checked + label {
              color: #2275BC;
              &:before {
                border: 1px solid #2275BC;
              }
            }
          }
        }
        .das {
          display: none;
          width: 100%;
          margin: 0;
          background: #FAFAFA;
          position: relative;
          .show_more {
            .ex_more {
              display: none;
              padding-left: 15px;
              padding-bottom: 15px;
              padding-right: 10px;
              text-align: left;
              margin: 0;
              background: #FAFAFA;
              li {
                display: flex;
                input {
                  display: none;
                }
                label {
                  margin: 0;
                  padding: 10px 0;
                  width: 100%;
                  display: flex;
                  position: relative;
                  padding-left: 30px;
                  cursor: pointer;
      
                }
                /* huy fix */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                  content: '';
                  position: absolute;
                  top: 13px;
                  left: 0;
                  width: 18px;
                  height: 18px;
                  border: 1px solid #BDBDBD;
                  box-sizing: border-box;
                  border-radius: 3px;
                  background: #FFF;
                  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                  -webkit-transition: all .275s;
                  transition: all .275s;
                }
                /* huy fix */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                  content: '✓';
                  position: absolute;
                  top: 22px;
                  left: 5px;
                  font-size: 13px;
                  color: #2275BC;
                  line-height: 0;
                  -webkit-transition: all .2s;
                  transition: all .2s;
                }
                /* huy fix */
                [type="checkbox"]:not(:checked) + label:after {
                  opacity: 0;
                  -webkit-transform: scale(0) rotate(45deg);
                  transform: scale(0) rotate(45deg);
                }
                [type="checkbox"]:checked + label:after {
                  opacity: 1;
                  -webkit-transform: scale(1) rotate(0);
                  transform: scale(1) rotate(0);
                }
                input[type=checkbox]:checked + label {
                  color: #2275BC;
                  &:before {
                    border: 1px solid #2275BC;
                  }
                }
              }
            }
            .item-more {
              padding: 15px 0;
              border-top: 1px solid #E0E0E0;
              border-bottom: 1px solid #E0E0E0;
              text-align: center;
            }
          }
  
          input[type=checkbox]:checked + .show_more > .ex_more {
            display: block;
          }
        }
      }
    }
    .item_das {
      margin-bottom: 15px;
      .item_title {
        width: 100%;
        margin: 0;
        background: #2275BC;
        position: relative;
        .title3_2 {
          text-transform: uppercase;
          text-align: center;
          padding: 10px 20px;
          margin: 0;
        }
      }
      .extra {
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 10px;
        text-align: left;
        margin: 0;
        background: #FAFAFA;
        li {
          display: flex;
          input {
            display: none;
          }
          label {
            margin: 0;
            padding: 10px 0;
            width: 100%;
            display: flex;
            position: relative;
            padding-left: 30px;
            cursor: pointer;

          }
          /* huy fix */
          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            top: 13px;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 3px;
            background: #FFF;
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
            -webkit-transition: all .275s;
            transition: all .275s;
          }
          /* huy fix */
          [type="checkbox"]:not(:checked) + label:after,
          [type="checkbox"]:checked + label:after {
            content: '✓';
            position: absolute;
            top: 22px;
            left: 5px;
            font-size: 13px;
            color: #2275BC;
            line-height: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
          }
          /* huy fix */
          [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
          }
          [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
          }
          input[type=checkbox]:checked + label {
            color: #2275BC;
            &:before {
              border: 1px solid #2275BC;
            }
          }
        }
      }
    }
  }
  .site41_pro_col9_ketquanghiencuu {
    width: 73%;
    float: right;
    .item-title {
      float: left;
      width: 100%;
      padding-bottom: 20px;
      .title {
        display: flex;
        align-items: center;
        float: left;
        h2 {
          margin: 0;
          padding-right: 15px;
        }
      }
      .item-sapxep {
        position: relative;
        float: right;
        .sapxep {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          padding:5px 35px 5px 5px;
        }
        &::before {
          position: absolute;
          content: url('../img/sapxep.png');
          top: 2px;
          right: 0;
          cursor: pointer;
          pointer-events: none;
          transition: all 0.5s;
        }
      }
    }
    .item-list-sp {
      margin: 0 -15px;
      float: right;
      .col-md-4 {
        padding-top: 10px;
        padding-bottom: 10px;
        .product {
          width: 100%;
          .item-img {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 192px;
            border-radius: 5px;
            background: #FAFAFA;
            border: 1px solid #F2F2F2;
            box-sizing: border-box;
            img {
              width: fit-content;
              height: fit-content;
              transform: scale(1);
              transition: all 0.5s;
            }
          }
          .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            background: rgba(52, 52, 52, 0.2);
            .btn {
              padding: 9px 12px;
            }
          }
          &:hover {
            transition: all 0.5s;
            .content {
              z-index: 1;
            }
            img {
              transform: scale(1.1);
            }
            .detai {
              .md1 {
                color: #2275BC;
              }
              .md3_1 {
                color: #2275BC;
              }
            }
          }
        }
      }
    }
  }
}



/* repondive */

@media (max-width:1200px) {
  .site41_sanpham {
    .site41_pro_col9_ketquanghiencuu {
      padding-left: 15px;
    }
    .site41_profil_col3_danhmuckqnc {
      padding: 0;
    }
  } 
}


@media (max-width:1000px) {
  .site41_sanpham {
    .site41_pro_col9_ketquanghiencuu {
      width: 100%;
      float: left;
      padding: 0;
      padding-top: 30px;
    }
    .site41_profil_col3_danhmuckqnc {
      width: 100%;
      float: left;
      .item_fields {
        .extra {
          li {
            input {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .site41_bann_col0_slide_sp {
    padding: 0 15px;
    height: 200px;
    .item-title {
        padding-top: 40px;
    }
  }
  .site41_sanpham {
    padding: 20px 15px;
    .site41_pro_col9_ketquanghiencuu {
      .item-list-sp {
        .col-md-4 {
          width: 33.33333333%;
        }
      }
    }
  }
}




/* man:  mobi */
@media screen and (max-width: 576px) {
  .site41_bann_col0_slide_sp {
    height: 130px;
    .item-title {
        padding-top: 10px;
    }
  }
  .site41_sanpham {
    .site41_pro_col9_ketquanghiencuu {
      .item-list-sp {
        .col-md-4 {
          width: 50%;
        }
      }
      .item-title {
        .title {
          display: contents;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .site41_sanpham {
    .site41_pro_col9_ketquanghiencuu {
      .item-list-sp {
        .col-md-4 {
          width: 100%;
          .product {
            .item-img {
              height: 222px;
            }
          }
        }
      }
    }
  }
}