.site41_bann_col0_slide_cg {
  background-image: url('../img/bg_cn.png');
  background-size: 100% 100%;
  overflow: hidden;
  height: 280px;
  width: 100%;
  .item-title {
    padding-top: 85px;
    a {
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
      }
    }
    .main {
      position: relative;
      padding-right: 20px;
      &::after {
        position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      top: 7px;
      border-top: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      margin-left: 10px;
      margin-top: 1px;
      }
    }
  }
}
.site41_html_col12_chuyengia {
  overflow: hidden;
  padding-bottom: 50px;
  .item_lits_content_chuyengia {
    float: left;
    width: 100%;
    position: relative;
    .item-title {
      float: left;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      .title {
        float: left;
        h2 {
          margin: 0;
        }
      }
      .item-more_all {
        padding-right: 30px;
        float: right;
        a {
          text-decoration: none;
        }
      }
    }
    .item-list-sp {
      margin: 0 -15px;
      float: left;
      .col-md-3 {
        padding-top: 10px;
        padding-bottom: 10px;
        .product {
          width: 100%;
          .item-img {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 192px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              transform: scale(1);
              transition: all 0.5s;
            }
          }
          .content {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 30%;
            top: 0;
            left: 0;
            text-align: center;
            z-index: -1;
            background: rgba(52, 52, 52, 0.2);
            .btn {
              padding: 10px 12px;
            }
          }
          &:hover {
            transition: all 0.5s;
            .content {
              z-index: 1;
            }
            img {
              transform: scale(1.1);
            }
            .detai {
              h2 {
                  font-weight: bold;
                color: #2275BC;
              }
              p {
                color: #2275BC;
              }
            }
          }
        }
      }
    }
  }
}



/* repondive */

@media (max-width:1200px) {
  .site41_html_col12_chuyengia {
    .item_lits_content_chuyengia {
      .item-list-sp {
        .col-md-3 {
          .product {
            .item-img {
              height: 155px;
            }
          }
        }
      }
    }
  }
}



@media (max-width:1000px) {

}








@media screen and (max-width: 768px) {
  .site41_bann_col0_slide_cg {
    padding: 0 15px;
    height: 200px;
    .item-title {
        padding-top: 40px;
    }
  }
  .site41_html_col12_chuyengia {
    padding: 0 15px 50px 15px;
    .item_lits_content_chuyengia {
      .item-list-sp {
        .col-md-3 {
          width: 33.33333333%;
        }
      }
      .item-title {
        .item-more_all {
          padding-right: 50px;
        }
      }
    }
  }

}

/* man:  mobi */
@media screen and (max-width: 576px) {
  .site41_bann_col0_slide_cg {
    height: 130px;
    .item-title {
        padding-top: 10px;
    }
  }
  .site41_html_col12_chuyengia {
    .item_lits_content_chuyengia {
      padding-bottom: 50px;
      .item-list-sp {
        .col-md-3 {
          width: 50%;
        }
      }
      .item-title {
        .item-more_all {
          position: absolute;
          padding: 10px 0;
          bottom: 10px;
          display: flex;
          width: 100%;
          justify-content: center;
          border-bottom: 1px solid #F2F2F2;
          border-top: 1px solid #F2F2F2;
        }
      }
    }
  }
}


@media screen and (max-width: 460px) {
  .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 130px;
  }
}

@media screen and (max-width: 400px) {
  .site41_html_col12_chuyengia {
    .item_lits_content_chuyengia {
      .item-list-sp {
        .col-md-3 {
          width: 100%;
          .product {
            .item-img {
              height: 240px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 285px) {
  .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 180px;
  }
}