.site41_html_col12_danhsachchuyengia {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.site41_html_col12_danhsachchuyengia .item_title {
  /*huy fix*/
  width: 100%;
  float: left;
  padding-bottom: 15px;
}
.site41_html_col12_danhsachchuyengia .item_title h2 {
  margin: 0;
  text-align: center;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 {
  width: 100%;
  float: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .result p {
  margin: 0;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit {
  position: relative;
  float: right;
  padding: 5px 10px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit::before {
  position: absolute;
  content: url("../img/sapxep.png");
  top: 4px;
  left: -35px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit::after {
  position: absolute;
  width: 1px;
  height: 16px;
  content: "";
  background: #DBDBDB;
  top: 9px;
  left: 51%;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
  width: 223px;
  outline: 0;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select option {
  margin-right: 10px;
}
.site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit .donvicongtac {
  padding-left: 20px;
}
.site41_html_col12_danhsachchuyengia .item-list-sp {
  margin: 0 -15px;
  float: left;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product {
  width: 100%;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 192px;
  border-radius: 5px;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: -1;
  background: rgba(52, 52, 52, 0.2);
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .content .btn {
  padding: 10px 12px;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product:hover .content {
  z-index: 1;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product:hover .detai h2 {
  font-weight: bold;
  color: #2275BC;
}
.site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product:hover .detai p {
  color: #2275BC;
}

/* repondive */
@media (max-width: 1200px) {
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 155px;
  }
}
@media screen and (max-width: 768px) {
  .site41_html_col12_danhsachchuyengia {
    padding: 25px 15px 50px 15px;
  }
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
    width: 33.33333333%;
  }
  .site41_html_col12_danhsachchuyengia .Frame_13723 {
    display: block;
    padding: 20px 0;
  }
  .site41_html_col12_danhsachchuyengia .Frame_13723 .result {
    padding-bottom: 20px;
  }
  .site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
    width: 150px;
  }
}
/* man:  mobi */
@media screen and (max-width: 576px) {
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
    width: 50%;
  }
}
@media screen and (max-width: 460px) {
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 130px;
  }
}
@media screen and (max-width: 400px) {
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
    width: 100%;
  }
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 240px;
  }
  .site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
    width: 100px;
  }
}
@media screen and (max-width: 285px) {
  .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
    height: 180px;
  }
  .site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
    width: 70px;
  }
}