.site41_bann_col0_slide_news_detail {
    background-image: url('../img/bg_news_detail.png');
    background-size: 100% 100%;
    overflow: hidden;
    height: 280px;
    width: 100%;
    .item-title {
      padding-top: 85px;
      a {
        text-decoration: none;
        &:hover {
          color: #FFFFFF;
        }
      }
      .main {
        position: relative;
        padding-right: 20px;
        &::after {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          top: 7px;
          border-top: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF;
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          margin-left: 10px;
          margin-top: 1px;
        }
      }
    }
}
.site41_new_col12_hoithaosukien {
    overflow: hidden;
    padding: 50px 0;
    .col-md-6 {
      padding: 15px;
      .img {
        width: 50%;
        float: left;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          transition: all 0.5s;
          transform: scale(1);
        }
        :hover {
          transform: scale(1.1);
        }
      }
      .product {
        width: 48%;
        float: right;
        padding-left: 15px;
        padding-top: 10px;
        .date {
          padding-bottom: 10px;
          img {
            margin-top: -4px;
            margin-right: 10px;
          }
          .md2_4 {
            display: contents;
          }
        }
        .title {
          padding-bottom: 7px;
          .md1_4 {
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        a {
          text-decoration: none;
        }
      }
      &:hover {
        .title {
          color: #2275BC;
        }
      }
    }
}



  /* repondive */

@media (max-width:1200px) {
  .site41_new_col12_hoithaosukien {
    .col-md-6 {
      width: 100%;
      .img {
        width: 30%;
      }
      .product {
        width: 69%;
        p {
          padding-bottom: 25px;
        }
      }
    }
  }
}



@media (max-width:1000px) {
  .site41_new_col12_hoithaosukien {
    .col-md-6 {
      .img {
        width: 35%;
      }
      .product {
        width: 64%;
      }
    }
  }
  .site41_bann_col0_slide_news_detail .item-title .main::after {
    margin-left: 8px;
    margin-top: 0;
  }
}








@media screen and (max-width: 768px) {
  .site41_bann_col0_slide_news_detail {
    padding: 0 15px;
    height: 200px;
    .item-title {
        padding-top: 40px;
    }
  }
  .site41_new_col12_hoithaosukien {
    padding: 50px 15px;
    .col-md-6 {
      .img {
        width: 40%;
      }
      .product {
        width: 59%;
        p {
          padding-bottom: 0;
        }
      }
    }
  }
}

/* man:  mobi */
@media screen and (max-width: 576px) {
  .site41_bann_col0_slide_news_detail {
    height: 130px;
    .item-title {
        padding-top: 10px;
    }
  }
  .site41_new_col12_hoithaosukien {
    .col-md-6 {
      .img {
        width: 100%;
      }
      .product {
        padding-left: 0;
        width: 100%;
        p {
          padding-bottom: 0;
        }
        .view-all {
          font-size: 13px;
          img {
            margin-top: -1px;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .site41_bann_col0_slide_news_detail .item-title .main::after {
    margin-left: 8px;
    margin-top: -3px;
  }
}


