.site41_bann_col0_slidemap {
    position: relative;
    height  : 448px;

    .imap {
        position: absolute;
        left    : 0;
        top     : 0;
        width   : 100%;
        height  : auto;
        z-index : 2;

        iframe {}
    }

    .bg_lienhe {
        position  : absolute;
        background: url(../../img/nenheadlienhe.png);
        left      : 0;
        top       : 0;
        z-index   : 10;
        width     : 100%;
        height    : 448px;

        .container {
            .row {
                .item-title {
                    padding-top: 183px;

                    a {
                        text-decoration: none;

                        &:hover {
                            color: #FFFFFF;
                        }
                    }

                    .main {
                        position     : relative;
                        padding-right: 20px;

                        &::after {
                            position         : absolute;
                            content          : "";
                            width            : 6px;
                            height           : 6px;
                            top              : 7px;
                            border-top       : 1px solid #FFFFFF;
                            border-right     : 1px solid #FFFFFF;
                            -webkit-transform: rotateZ(45deg);
                            transform        : rotateZ(45deg);
                            margin-left      : 10px;
                            margin-top       : 1px;
                        }
                    }
                }
            }
        }
    }
}

.site41_form_col8_guiyeucaulienhe {
    width      : 100%;
    background : #FFFFFF;
    font-family: Roboto;
    font-style : normal;

    .form {
        width : 769px;
        height: auto;
        margin: auto;

        h2 {
            font-weight   : bold;
            font-size     : 30px;
            line-height   : 35px;
            text-transform: uppercase;
            color         : #58595B;
            text-align    : center;
            margin-top    : 82px;
            margin-bottom : 27px;
        }

        p {
            font-weight  : normal;
            font-size    : 16px;
            line-height  : 150%;
            text-align   : center;
            color        : #5C5C5C;
            margin-bottom: 28px;
        }

        form {

            input,
            textarea {
                width        : 100%;
                padding      : 7px;
                outline      : 0;
                border       : 0;
                border-bottom: 1px solid #E2E2E2;
                margin-bottom: 28px;
                font-weight  : normal;
                font-size    : 16px;
                line-height  : 150%;
                color        : #000000;
            }

            input::placeholder,
            textarea::placeholder {
                font-weight: normal;
                font-size  : 16px;
                line-height: 150%;
                color      : #C4C4C4;

            }

            input:nth-child(2),
            input:nth-child(3) {
                width: 48%;
            }

            input:nth-child(3) {
                float: right;
            }

            textarea {

                resize        : none;
                padding-bottom: 94px;
                margin-bottom : 30px;
            }

            button {
                width        : 100%;
                height       : 55px;
                font-weight  : 600;
                font-size    : 20px;
                line-height  : 21px;
                color        : #FFFFFF;
                background   : #2275BC;
                border-radius: 5px;
                margin-bottom: 82px;

                img {
                    padding-left: 10px;

                }
            }
        }
    }
}



@media (max-width:1200px) {
    .site41_bann_col0_slidemap {

        height: 250px;

        .imap {


            iframe {
                height: 250px;
            }
        }

        .bg_lienhe {

            height: 250px;
            .container {
                .row {
                   

                    .item-title {

                        padding-top: 80px;

                        a {


                            &:hover {}
                        }

                        .main {


                            &::after {}
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:768px) {
    .site41_bann_col0_slidemap {

        height: 180px;

        .imap {


            iframe {
                height: 180px;
            }
        }

        .bg_lienhe {
            height: 180px;

            .container {
                .row {
                    margin: 0;

                    .item-title {

                        padding-top: 50px;

                        a {


                            &:hover {}
                        }

                        .main {


                            &::after {}
                        }
                    }
                }
            }
        }
    }

    .site41_form_col8_guiyeucaulienhe {


        .form {
            width: 100%;

            padding: 0 15px;

            h2 {
                margin-top   : 35px;
                margin-bottom: 20px;
                font-size    : 30px;

            }

            p {

                font-size    : 16px;
                margin-bottom: 20px;
            }

            form {

                input,
                textarea {
                    font-size: 16px;
                }

                input::placeholder,
                textarea::placeholder {

                    font-size: 16px;


                }

                input:nth-child(2),
                input:nth-child(3) {
                    width: 100%;
                }



                textarea {}

                button {
                    font-size    : 20px;
                    margin-bottom: 35px;

                    img {}
                }
            }
        }
    }
}