.site41_form_col12_dangkycanhan {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding: 60px 0;
}
.site41_form_col12_dangkycanhan .container .row {
  display: flex;
}
.site41_form_col12_dangkycanhan .container .row .login_form {
  background: rgba(250, 250, 250, 0.9);
  padding: 65px 87px 0 88px;
  width: 50%;
}
.site41_form_col12_dangkycanhan .container .row .login_form h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 150.19%;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 27px;
  text-align: center;
}
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex {
  display: flex;
}
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .canhan,
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .chuyengia_1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #BEBEBE;
  padding-bottom: 8px;
  border-bottom: 5px solid #EBEFF2;
  width: 50%;
  justify-content: center;
  text-decoration: none;
  height: max-content;
  margin-bottom: 25px;
}
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .canhan.active,
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .chuyengia_1.active {
  color: #2275BC;
  border-bottom: 5px solid #2275BC;
}
.site41_form_col12_dangkycanhan .container .row .login_form form {
  color: #4F4F4F;
  font-size: 18px;
  line-height: 150.19%;
  display: none;
}
.site41_form_col12_dangkycanhan .container .row .login_form form input,
.site41_form_col12_dangkycanhan .container .row .login_form form select {
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  background: inherit;
  appearance: none;
  outline: 0;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000;
}
.site41_form_col12_dangkycanhan .container .row .login_form form input::placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::placeholder {
  font-size: 18px;
  line-height: 150.19%;
  color: #BDBDBD;
}
.site41_form_col12_dangkycanhan .container .row .login_form form input::-webkit-input-placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 150.19%;
  color: #BDBDBD;
}
.site41_form_col12_dangkycanhan .container .row .login_form form select {
  background: url(../../img/arrow_dangki.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
  font-size: 18px;
  line-height: 150.19%;
  color: #BDBDBD;
}
.site41_form_col12_dangkycanhan .container .row .login_form form select * {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  color: #000;
}
.site41_form_col12_dangkycanhan .container .row .login_form form button {
  background: #2275BC;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 150.19%;
  color: #FFFFFF;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan {
  display: none;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan input:nth-child(1) {
  background: url(../../img/img_dk1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan input:nth-child(2) {
  background: url(../../img/phone_dk1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan input:nth-child(3) {
  background: url(../../img/input_img.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan input:nth-child(4) {
  background: url(../../img/input_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan input:nth-child(5) {
  background: url(../../img/input_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_canhan.active {
  display: block;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia {
  display: none;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(1) {
  background: url(../../img/img_dk1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(2) {
  background: url(../../img/phone_dk1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(3) {
  background: url(../../img/input_img.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(4) {
  background: url(../../img/input_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(5) {
  background: url(../../img/input_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia input:nth-child(6) {
  background: url(../../img/input_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 96%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .form_chuyengia.active {
  display: block;
}
.site41_form_col12_dangkycanhan .container .row .login_form .or {
  font-size: 18px;
  line-height: 150.19%;
  color: #4F4F4F;
  margin-top: 22px;
  margin-bottom: 16px;
  text-align: center;
}
.site41_form_col12_dangkycanhan .container .row .login_form a {
  font-size: 18px;
  line-height: 150.19%;
  color: #FFFFFF;
  display: inline-block;
  height: 50px;
}
.site41_form_col12_dangkycanhan .container .row .login_form .login_flex {
  display: flex;
  margin-bottom: 23px;
}
.site41_form_col12_dangkycanhan .container .row .login_form .login_flex .btn_f {
  background: #2275BC;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
}
.site41_form_col12_dangkycanhan .container .row .login_form .login_flex .btn_f img {
  margin-right: 22.5px;
}
.site41_form_col12_dangkycanhan .container .row .login_form .login_flex .btn_g {
  background: #ED4A47;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin-left: auto;
}
.site41_form_col12_dangkycanhan .container .row .login_form .login_flex .btn_g img {
  margin-right: 22.5px;
}
.site41_form_col12_dangkycanhan .container .row .img_login {
  width: 50%;
}
.site41_form_col12_dangkycanhan .container .row .img_login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .site41_form_col12_dangkycanhan {
    padding: 50px 0;
  }
  .site41_form_col12_dangkycanhan .container .row {
    display: flex;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form {
    background: rgba(250, 250, 250, 0.9);
    padding: 40px;
    width: 47%;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form h2 {
    margin-top: 0;
    font-size: 32px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .canhan,
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .chuyengia_1 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::-webkit-input-placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::-webkit-input-placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form select {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form button {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .or {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form a {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login {
    width: 53%;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1000px) {
  .site41_form_col12_dangkycanhan {
    padding: 35px 0;
  }
  .site41_form_col12_dangkycanhan .container .row {
    flex-direction: column;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form {
    padding: 50px;
    width: 100%;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form h2 {
    font-size: 32px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .canhan,
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .chuyengia_1 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::-webkit-input-placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::-webkit-input-placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form select {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form button {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .or {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form a {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login {
    width: 100%;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .site41_form_col12_dangkycanhan {
    padding: 0;
  }
  .site41_form_col12_dangkycanhan .container .row {
    flex-direction: column;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form {
    padding: 15px;
    width: 100%;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form h2 {
    font-size: 32px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .canhan,
.site41_form_col12_dangkycanhan .container .row .login_form .canhanflex .chuyengia_1 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form input::-webkit-input-placeholder,
.site41_form_col12_dangkycanhan .container .row .login_form form select::-webkit-input-placeholder {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form select {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form form button {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form .or {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .login_form a {
    font-size: 18px;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login {
    padding: 15px;
  }
  .site41_form_col12_dangkycanhan .container .row .img_login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=12_dangkicanhan.css.map */
