.container_fix {
    max-width   : 1570px;
    margin-left : auto;
    margin-right: auto;
    overflow    : hidden;
}

@media (max-width: 1600px) {
    .container_fix {
        max-width: 1400px;

    }
}

@media (max-width: 1400px) {
    .container_fix {
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    .container_fix {
        max-width: 970px;
    }

}

@media (max-width: 1000px) {
    .container_fix {
        max-width: 750px;
    }
}

.site41_head_col0_vcictaikhoan {
    padding: 15px 0;

    .container_fix {
        .head_flex {
            display        : flex;
            justify-content: center;
            align-items    : center;

            .head_logo {
                width          : 300px;
                display        : flex;
                justify-content: center;
                align-items    : center;

                img {}
            }

            .head_search {
                border       : 1px solid #E0E0E0;
                box-sizing   : border-box;
                border-radius: 5px;

                font-family    : Roboto;
                display        : flex;
                justify-content: space-between;
                font-style     : normal;
                font-weight    : normal;
                width          : 811px;
                height         : 45px;

                select {
                    font-size   : 18px;
                    line-height : 150.19%;
                    color       : #828282;
                    float       : left;
                    white-space : nowrap;
                    overflow    : hidden;
                    padding-left: 14px;
                    width       : 40%;

                    
                }
                span{
                    text-align: center;
                    align-items: center;
                    font-size: 27px;
                    color       : #828282;
                }
                select * {}

                input {
                    width: 40%;
                    color: #000;
                    &::placeholder {
                        font-family: Roboto;
                        font-style : normal;
                        font-weight: normal;
                        font-size  : 18px;
                        line-height: 150.19%;
                        color: #828282;
                    }
                }

                button {
                    background   : #2275BC;
                    border       : 1px solid #2275BC;
                    box-sizing   : border-box;
                    border-radius: 0px 5px 5px 0px;
                    font-family  : Roboto;
                    font-style   : normal;
                    font-weight  : normal;
                    font-size    : 18px;
                    line-height  : 150.19%;
                    color        : #FFFFFF;
                    padding      : 9px 12px;
                    float        : right;

                    img {
                        margin-right: 10px;
                    }
                }
            }

            .head_btn {
                background     : #00B2E7;
                border         : 1.5px solid #FFFFFF;
                border-radius  : 5px;
                font-family    : Roboto;
                font-style     : normal;
                font-weight    : 500;
                font-size      : 18px;
                line-height    : 21px;
                text-transform : uppercase;
                
                width          : 142.72px;
                height         : 46px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin-left    : 30px;
                a{
                    text-decoration: none;
                    color          : #FFFFFF;
                }
            }

            .cart {
                position: relative;
                padding : 0 30px;

                img {
                    width : fit-content;
                    height: fit-content;
                }

                span {
                    position     : absolute;
                    font-family  : Poppins;
                    font-style   : normal;
                    font-weight  : bold;
                    font-size    : 14px;
                    line-height  : 21px;
                    color        : #FFFFFF;
                    background   : #FF0B00;
                    border-radius: 50%;
                    padding      : 0px 6px;
                    top          : -8px;
                    left         : 42px;
                }
            }

            .head_login {
                display        : flex;
                justify-content: center;
                align-items    : center;
                flex-direction : row-reverse;
                width: 179px;
                .img {
                    overflow     : hidden;
                    width        : 46px;
                    height       : 46px;
                    border-radius: 100%;
                    margin-left: 20px;
                    img {}
                }

                .text {
                    font-family: Roboto;
                    font-style : normal;
                    font-weight: normal;
                    font-size  : 18px;
                    line-height: 21px;
                    color      : #4F4F4F;
                }
            }
        }
    }
}

.site41_html_col0_yeucaudangky {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    background : #f2f5f8;
    padding-top: 16px;
    position   : relative;

    .copyright {
        font-size  : 14px;
        line-height: 150.19%;
        color      : #2275BC;
        padding    : 11px 0;
        width      : 100%;
        text-align : center;
    }

    .container_fix {
        display        : flex;
        justify-content: space-between;

        .bghome {

            background: #FFFFFF;

            .pro_left.active {
                visibility: visible;
                opacity   : 1;
                z-index   : 100;
            }

            .pro_left {
                background: #FFFFFF;
                position  : relative;
                width     : 300px;
                height    : auto;

                .icon_open_menu1 {
                    position: absolute;
                    right   : 15px;
                    top     : 15px;
                    display : none;
                    width   : 20px;
                    cursor  : pointer;

                    span {
                        display   : block;
                        width     : 100%;
                        height    : 2px;
                        background: #000000;
                        margin    : 0px 0;

                        &:nth-child(1) {
                            -webkit-transform: rotateZ(45deg);
                            transform        : rotateZ(45deg);
                        }

                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            -webkit-transform: rotateZ(-45deg);
                            transform        : rotateZ(-45deg);
                            margin-top       : -1px;
                        }
                    }
                }

                .icon_open_menu1.active {
                    display: block;
                }

                .avt {
                    padding: 32px 0;

                    .img {
                        width        : 130px;
                        height       : 130px;
                        border-radius: 100%;
                        overflow     : hidden;
                        margin       : auto;
                        margin-bottom: 19px;

                        img {
                            border-radius: 100%;
                        }
                    }

                    h2 {
                        font-weight   : 500;
                        font-size     : 18px;
                        line-height   : 150.19%;
                        text-transform: uppercase;
                        color         : #2275BC;
                        text-align    : center;
                        margin        : 0;
                    }


                }

                ul {
                    width: 100%;

                    li {
                        &:hover {
                            a {
                                .text {
                                    color       : #2275BC;
                                    padding-left: 7px;
                                    font-weight : 500;


                                }

                                .img_cn {
                                    padding-left: 13px;

                                    .img_show {
                                        display: block;
                                    }

                                    .img_hide {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.active {
                            background: rgba(34, 117, 188, 0.1);

                            a {
                                .text {
                                    color       : #2275BC;
                                    padding-left: 7px;
                                    font-weight : 500;
                                }

                                .img_cn {
                                    padding-left: 13px;

                                    .img_show {
                                        display: block;
                                    }

                                    .img_hide {
                                        display: none;
                                    }
                                }
                            }
                        }

                        background : rgba(255, 255, 255, 0.1);
                        width      : 100%;
                        height     : 60px;
                        display    : flex;

                        a {
                            display        : flex;
                            align-items    : center;
                            justify-content: space-between;
                            width          : 100%;
                            text-decoration: none;

                            .img_cn {
                                padding-left: 7px;

                                .img_show {
                                    display: none;
                                }

                                .img_hide {
                                    display: block;
                                }

                            }

                            .text {
                                width      : calc(100% - 46px - 17px);
                                font-weight: 500;
                                font-size  : 18px;
                                line-height: 150.19%;
                                align-items: center;
                                color      : #4F4F4F;
                                white-space: nowrap;
                            }

                        }
                    }

                }
            }
        }



        .pro_right {
            width: calc(100% - 300px - 15px);

            height    : 871px;
            background: #FFFFFF;

            margin-left: 15px;
            display    : none;
            visibility : hidden;
            opacity    : 0;

            &:target {
                visibility: visible;
                opacity   : 1;
                z-index   : 100;
                display   : block;
            }

            .content {
                width          : auto;
                background     : #2275BC;
                height         : 60px;
                display        : flex;
                justify-content: center;
                align-items    : center;

                .icon_open_menu {
                    display    : none;
                    width      : 20px;
                    margin-left: 15px;
                    cursor     : pointer;

                    span {
                        display   : block;
                        width     : 100%;
                        height    : 2px;
                        background: #ffffff;
                        margin    : 5px 0;

                        &:nth-child(1) {}

                        &:nth-child(2) {}

                        &:nth-child(3) {}
                    }
                }

                h2 {

                    font-weight: bold;
                    font-size  : 24px;
                    line-height: 150.19%;
                    text-align : center;
                    color      : #FFFFFF;
                    margin     : auto;
                }
            }

            .body_card {
                width     : 100%;
                padding   : 20px 31.37px 0 25px;
                overflow-y: scroll;
                height    : 799px;

                .card_flex {
                    display  : flex;
                    flex-wrap: wrap;
                    width    : 100%;
                    height   : auto;


                    .card {
                        width        : calc(100% / 4 - 13.5px);
                        margin-right : 18px;
                        margin-bottom: 25px;

                        &:hover {
                            .card_img {

                                .button_card {
                                    transition: all 0.3s linear;
                                    top       : 0;
                                    left      : 0;
                                }

                            }

                            .card_title {
                                h3 {
                                    color: #2275BC;
                                    ;
                                }

                                p {
                                    color: #2275BC;
                                }
                            }
                        }

                        .card_img1 {}

                        .card_img {
                            position     : relative;
                            height       : 169px;
                            margin-bottom: 12px;
                            overflow     : hidden;

                            img {
                                width     : 100%;
                                height    : 100%;
                                object-fit: cover;
                            }

                            .button_card {
                                position       : absolute;
                                top            : 100%;
                                bottom         : auto;
                                left           : 0;
                                right          : auto;
                                width          : 100%;
                                height         : 100%;
                                background     : rgba(0, 0, 0, 0.7);
                                overflow       : hidden;
                                z-index        : 100;
                                display        : flex;
                                justify-content: center;
                                flex-direction : column;
                                align-items    : center;
                                text-align     : center;
                                opacity        : 0.9;

                                .btn_hai {
                                    width      : 105px;
                                    height     : 33.36px;
                                    font-weight: 500;
                                    font-size  : 13.388px;
                                    line-height: 150.19%;
                                    text-align : center;
                                    color      : #FFFFFF;
                                }

                                button {

                                    font-weight  : 500;
                                    font-size    : 16px;
                                    line-height  : 150.19%;
                                    text-align   : center;
                                    color        : #FFFFFF;
                                    width        : 90px;
                                    height       : 30px;
                                    margin-bottom: 10px;

                                    &:nth-child(1) {
                                        background   : #2275BC;
                                        border-radius: 3px;
                                    }

                                    &:nth-child(2) {
                                        background   : rgba(255, 255, 255, 0.5);
                                        border-radius: 3px;
                                    }
                                }

                            }

                        }



                        .card_title {
                            h3 {
                                font-weight: 500;
                                font-size  : 16px;
                                line-height: 140.1%;
                                color      : #4F4F4F;
                            }

                            p {
                                font-weight: 500;
                                font-size  : 14px;
                                line-height: 140.1%;
                                color      : #4F4F4F;
                            }
                        }
                    }

                    .card:nth-child(4n) {
                        margin-right: 0px;
                    }
                }
            }
        }

    }
}

@media (max-width:1400px) {
    .site41_head_col0_vcictaikhoan {
        padding: 15px 0;
    
        .container_fix {
            .head_flex {
                
                .head_logo {
                    width          : 200px;
                    justify-content: left;
    
                    img {}
                }
    
                .head_search {
                    
    
                  
                    
                    width          : 750px;
    
                    select {
                        font-size   : 15px;
                       
                        color       : #828282;
                        float       : left;
                      
    
                        
                    }
                    span{
                        margin-top: 2px;
                        font-size: 25px;
                        color       : #828282;
                    }
                    select * {}
    
                    input {
                        width: 38%;
                       
                        &::placeholder {
                            
                            font-size  : 15px;
                            
                        }
                    }
    
                    button {
                       
                        font-size    : 15px;
                        
    
                        img {
                            
                        }
                    }
                }
    
                .head_btn {
                    
                    font-size      : 15px;
                    
                    
                    width          : 140px;
                    
                    a{
                    }
                }
    
                .cart {
                   
    
                    img {
                        
                    }
    
                    span {
                       
                        font-size    : 13px;
                        
                    }
                }
    
                .head_login {
                    
    
                    .img {
                        
                        width        : 45px;
                        height       : 45px;
                        border-radius: 100%;
                        
                        img {}
                    }
    
                    .text {
                        
                        font-size  : 15px;
                        
                    }
                }
            }
        }
    }
    .site41_html_col0_yeucaudangky {


        .copyright {
            font-size: 14px;

        }

        .container_fix {



            .bghome {
                .pro_left {
                    width: 260px;


                    .avt {
                        padding: 32px 0;

                        .img {

                            img {}
                        }

                        h2 {
                            font-size: 15px;
                        }


                    }

                    ul {


                        li {
                            &.active {

                                a {
                                    .text {}

                                    .img_cn {
                                        .img_show {}

                                        .img_hide {}
                                    }
                                }
                            }



                            a {


                                .img_cn {

                                    .img_show {}

                                    .img_hide {}

                                }

                                .text {
                                    font-size: 15px;
                                }

                            }
                        }

                    }
                }
            }

            .pro_right {
                width : calc(100% - 260px - 16px);
                height: auto;


                &:target {}

                .content {


                    .icon_open_menu {


                        span {


                            &:nth-child(1) {}

                            &:nth-child(2) {}

                            &:nth-child(3) {}
                        }
                    }

                    h2 {}
                }

                .body_card {


                    .card_flex {



                        .card {
                            width        : calc(100% / 4 - 13.5px);
                            margin-right : 18px;
                            margin-bottom: 25px;

                            &:hover {
                                .card_img {

                                    .button_card {}

                                }

                                .card_title {
                                    h3 {}

                                    p {}
                                }
                            }

                            .card_img {

                                height: 145px;

                                img {}

                                .button_card {


                                    button {}

                                }

                            }



                            .card_title {
                                h3 {}

                                p {}
                            }
                        }

                        .card:nth-child(4n) {}
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .site41_html_col0_yeucaudangky {


        .copyright {
            font-size: 14px;

        }

        .container_fix {
            .bghome {
                .pro_left {
                    width: 260px;


                    .avt {
                        padding: 32px 0;

                        .img {

                            img {}
                        }

                        h2 {
                            font-size: 15px;
                        }


                    }

                    ul {


                        li {
                            &.active {

                                a {
                                    .text {}

                                    .img_cn {
                                        .img_show {}

                                        .img_hide {}
                                    }
                                }
                            }



                            a {


                                .img_cn {

                                    .img_show {}

                                    .img_hide {}

                                }

                                .text {
                                    font-size: 15px;
                                }

                            }
                        }

                    }
                }
            }

            .pro_right {
                width : calc(100% - 260px - 16px);
                height: auto;


                &:target {}

                .content {


                    .icon_open_menu {


                        span {


                            &:nth-child(1) {}

                            &:nth-child(2) {}

                            &:nth-child(3) {}
                        }
                    }

                    h2 {}
                }

                .body_card {


                    .card_flex {



                        .card {
                            width        : calc(100% / 3 - 17.5px);
                            margin-right : 18px;
                            margin-bottom: 25px;

                            &:hover {
                                .card_img {

                                    .button_card {}

                                }

                                .card_title {
                                    h3 {}

                                    p {}
                                }
                            }

                            .card_img {

                                height: 145px;

                                img {}

                                .button_card {


                                    button {}

                                }

                            }



                            .card_title {
                                h3 {}

                                p {}
                            }
                        }

                        .card:nth-child(4n) {
                            margin-right: 18px;
                        }

                        .card:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {

    .site41_html_col0_yeucaudangky {


        .copyright {
            font-size: 13px;

        }

        .container_fix {



            .bghome {
                .pro_left {
                    width: 200px;


                    .avt {
                        padding: 15px 0;

                        .img {

                            img {}
                        }

                        h2 {
                            font-size: 14px;
                        }


                    }

                    ul {


                        li {
                            height: 50px;

                            &.active {

                                a {
                                    .text {}

                                    .img_cn {
                                        .img_show {}

                                        .img_hide {}
                                    }
                                }
                            }



                            a {


                                .img_cn {

                                    .img_show {}

                                    .img_hide {}

                                }

                                .text {
                                    font-size: 14px;
                                }

                            }
                        }

                    }
                }
            }

            .pro_right {
                width : calc(100% - 200px - 16px);
                height: auto;

                .content {
                    height : auto;
                    padding: 10px 0;

                    h2 {
                        font-size: 16px;
                    }
                }


            }
        }

    }
}

@media (max-width:768px) {

    .site41_html_col0_yeucaudangky {


        .copyright {
            font-size: 14px;

        }

        .container_fix {
            .bghome {
                .pro_left {
                    width  : 260px;
                    display: none;

                    .avt {
                        padding: 32px 0;

                        .img {

                            img {}
                        }

                        h2 {
                            font-size: 15px;
                        }


                    }

                    ul {


                        li {
                            &.active {

                                a {
                                    .text {}

                                    .img_cn {
                                        .img_show {}

                                        .img_hide {}
                                    }
                                }
                            }



                            a {


                                .img_cn {

                                    .img_show {}

                                    .img_hide {}

                                }

                                .text {
                                    font-size: 15px;
                                }

                            }
                        }

                    }
                }
            }

            .pro_right {
                width: 100%;



                &:target {}

                .content {


                    .icon_open_menu {


                        span {


                            &:nth-child(1) {}

                            &:nth-child(2) {}

                            &:nth-child(3) {}
                        }
                    }

                    h2 {}
                }

                .body_card {


                    .card_flex {



                        .card {
                            width        : calc(100% / 2 - 9.5px);
                            margin-right : 15px;
                            margin-bottom: 20px;

                            &:hover {
                                .card_img {

                                    .button_card {}

                                }

                                .card_title {
                                    h3 {}

                                    p {}
                                }
                            }

                            .card_img {

                                height: 150px;

                                img {}

                                .button_card {


                                    button {}

                                }

                            }



                            .card_title {
                                h3 {}

                                p {}
                            }
                        }

                        .card:nth-child(4n) {
                            margin-right: 18px;
                        }

                        .card:nth-child(3n) {
                            margin-right: 18px;
                        }

                        .card:nth-child(2n) {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }

    .bghome.active {
        width     : 100%;
        height    : 110%;
        background: rgba(0, 0, 0, 0.7) !important;
        position  : absolute;
        top       : -58px;
        left      : 0;
        overflow  : hidden;
        z-index   : 5000;
    }
}