header {
    .item-header-top {
        overflow: hidden;
    padding: 10px 0;
    background: #F6F6F6;
    .header-contact {
        display: flex;
        float: left;
        ul {
            display: contents;
            .tell {
                position: relative;
                padding-right: 40px;
                ::before {
                    position: absolute;
                    content: "";
                    height: 12px;
                    width: 1px;
                    background: #BDBDBD;
                    top: 5px;
                    right: 20px;
                }
            }
            li {
                img {
                    width: fit-content;
                    height: fit-content;
                    margin-top: -2px;
                    padding-right: 10px;
                }
            }
        }
    }
    .language {
        display: flex;
        float: right;
        ul {
            display: contents;
            .vn {
                padding-left: 10px;
            }
        }
    }
    }
    .item-header-input {
        overflow: hidden;
        padding: 15px 0;
        .container {
            display: flex;
            align-items: center;
            .logo-top {
                display: flex;
                img {
                    width: fit-content;
                    height: fit-content
                }
            }
            .item-recta {
                margin-left: 50px;
                width: 100%;
                display: flex;
                float: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150.19%;
                color: #828282;
                border: 1px solid #E0E0E0;
                box-sizing: border-box;
                border-radius: 5px;
                .soe {
                    width: 38%;
                    padding: 10px;
                    .luachon {
                        width: 100%;
                    }
                }
                .search {
                    width: 62%;
                    position: relative;
                    input {
                        width: 92%;
                        padding: 10px
                    }
                    ::before {
                        position: absolute;
                        width: 1px;
                        height: 16px;
                        content: "";
                        background: #DBDBDB;
                        top: 12px;
                        left: 0;
                    }
                    button {
                        float: right;
                        background: #2275BC;
                        border: 1px solid #2275BC;
                        box-sizing: border-box;
                        border-radius: 0px 4px 4px 0px;
                        width: 8%;
                        height: 100%;
                    }
                }
            }
            .cart {
                position: relative;
                padding: 0 40px;
                img {
                    width: fit-content;
                    height: fit-content;
                }
                span {
                    position: absolute;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 21px;
                    color: #FFFFFF;
                    background: #FF0B00;
                    border-radius: 50%;
                    padding: 0px 6px;
                    top: -6px;
                    left: 50px;
                }
            }
            .login {
                width: 25%;
                .conten {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        height: 15px;
                        width: 1px;
                        background: #4F4F4F;
                        top: 3px;
                        right: -4px;
                        transform: rotateZ( 15deg);
                    }
                }
                a {
                    text-decoration: none;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #4F4F4F;
                    margin-right: 10px;
                }
                img {
                    float: right;
                }
            }
        }
    }
    .item-header-menu-top {
        width: 100%;
        background: #2275BC;
        overflow: hidden;
        padding-top: 8px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
        .main {
            align-items: center;
            padding: 0;
            margin: 0;
            display: flex;
            float: left;
            padding: 10px 0;
            li {
                padding-right: 40px;
                .menu1 {
                    position: relative;
                    text-decoration: none;
                    padding-bottom: 5px;
                    &::after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.5s;
                        background: #00B2E7;
                    }
                }
                &:hover {
                    .menu1 {
                        color: #FFFFFF;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .btn {
            float: right;
        }
        .menu-top {
            display: none;
        }
    }
    
}
