.pagination {
    float: right;
    padding-top: 50px;
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0 5px;
        a {
          padding: 8px 14px;
          text-decoration: none;
          background: #FFFFFF;
          border: 1px solid #E0E0E0;
          box-sizing: border-box;
          transition: all 0.3s;
          &:hover {
            color: #FFFFFF;
          border: 1px solid #2275BC;
          background: #2275BC;
          }
        }
        .v_v {
          color: #2275BC;
        }
      }
      .main {
        a {
          color: #FFFFFF;
          border: 1px solid #2275BC;
          background: #2275BC;
        }
      }
    }
  }