.order {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 999;
    }
    .popup {
        .content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 998;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            transition: .3s ease-in;
            label {
                position: relative;
                float: left;
                top: 50%;
                left: 50%;
                padding-top: 50px;
                border-radius: 10px;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 80%;
                background: #FFFFFF;
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
                border-radius: 10px;
                z-index: -1;
                .item-title {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: -85px;
                    h2 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        text-align: center;
                        line-height: 150.19%;
                        border-radius: 10px;
                        width: 50%;
                        margin: 0;
                        padding: 10px 0;
                        background: #2275BC;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        img {
                            margin: -11px 22px 0 0;
                        }
                    }
                }
                .item-product {
                    width: 100%;
                    height: 100%;
                    padding: 0 35px;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    .close {
                        position: absolute;
                        top: 10px;
                        right: 25px;
                        font-size: 40px;
                    }
                    .input-name {
                        padding-top: 15px;
                        float: left;
                        width: 100%;
                        input {
                            padding: 10px;
                            width: 100%;
                            border: 1px solid rgba(0, 63, 87, 0.3);
                            box-sizing: border-box;
                            border-radius: 5px;
                            outline: 0;
                        }
                    }
                    .input-mail {
                        width: 50%;
                        float: left;
                        padding-right: 15px;
                        input {
                            outline: 0;
                            padding: 10px;
                            width: 100%;
                            border: 1px solid rgba(0, 63, 87, 0.3);
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                    .input-tell {
                        width: 50%;
                        float: right;
                        padding-left: 15px;
                        input {
                            outline: 0;
                            padding: 10px;
                            width: 100%;
                            border: 1px solid rgba(0, 63, 87, 0.3);
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                    .input-sp {
                        padding: 10px 0;
                        float: left;
                        width: 100%;
                        input {
                            outline: 0;
                            padding: 10px;
                            width: 100%;
                            border: 1px solid rgba(0, 63, 87, 0.3);
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                    .input-fl {
                        float: left;
                        width: 100%;
                        input {
                            outline: 0;
                            padding: 10px;
                            width: 100%;
                            height: 156px;
                            padding-bottom: 115px;
                            border: 1px solid rgba(0, 63, 87, 0.3);
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                    .guiyeucau {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 25px 0;
                        .btn {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 21px;
                            line-height: 150.19%;
                            text-transform: uppercase;
                            padding: 10px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 0.1px;
    padding-top: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

.chuyengia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 999;
    }
    .popup {
        .content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 998;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            transition: .3s ease-in;
            .close {
                position: absolute;
                top: 10px;
                right: 25px;
                font-size: 40px;
            }
            .item-product {
                overflow: hidden;
                position: fixed;
                float: left;
                top: 50%;
                left: 50%;
                overflow-x:hidden;
                overflow-y:auto;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 80%;
                background: #FFFFFF;
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
                .item_personal_information {
                    float: left;
                    width: 30%;
                    overflow: hidden;
                    padding: 25px 10px;
                    background: #F5F8FE;
                    .avt {
                        text-align: center;
                        img {
                            border-radius: 75px;
                        }
                    }
                    .name {
                        width: 100%;
                        border-bottom: 2px solid #FFFFFF;
                        h2 {
                            text-align: center;
                        }
                    }
                    ul {
                        padding: 20px 0 20px 15px;
                        li {
                            padding-bottom: 25px;
                            .image {
                                float: left;
                                height: 66px;
                                padding-right: 15px;
                            }
                            .md1_2 {
                                font-weight: 500;
                            }
                            .md2_5 {
                                display: flex;
                            }
                            .mail {
                                word-wrap: break-word;
                                display: contents;
                            }
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                    .introduce {
                        padding: 0 25px;
                    }
                }
                .item_job_information {
                    float: right;
                    width: 70%;
                    overflow: hidden;
                    padding: 50px 30px;
                    .list_job {
                        padding-bottom: 35px;
                        .title {
                            display: flex;
                            padding-bottom: 15px;
                            align-items: center;
                            .title2_4 {
                                margin: 0 0 0 20px;
                                padding: 3px 7px;
                                background: #2275BC;
                            }
                        }
                        .time_list_job {
                            position: relative;
                            padding-left: 55px;
                            .list_yearh {
                                position: relative;
                                padding-top: 15px;
                                .md_title {
                                    padding-bottom: 10px;
                                    display: flex;
                                    h2 {
                                    margin: 0;
                                    }
                                    span {
                                        padding-left: 25px;
                                        font-weight: bold;
                                    }
                                }
                                .list_2_5 {
                                    padding-left: 140px;
                                    li {
                                        list-style: disc;
                                    }
                                }
                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 13px;
                                    height: 13px;
                                    top: 20px;
                                    left: -44px;
                                    background: #FFFFFF;
                                    border: 1px solid #2275BC;
                                    box-sizing: border-box;
                                    border-radius: 75px;
                                }
                            }
                            &::before {
                                position: absolute;
                                content: "";
                                width: 1px;
                                height: 100%;
                                top: 0px;
                                left: 17px;
                                background: #2275BC;
                            }
                        }
                    }
                }
            }
        }
    }
}