@media screen and (max-width: 1750px) {
    .site41_intr_col12_vcic .item-image {
        right: 0;
    }
    
}


@media (min-width:1600px) {
    h {
        &1 {
            font-size: 40px;
        }

        &2 {
            font-size: 36px;
        }

        &3 {
            font-size: 30px;
        }

        &4 {
            font-size: 24px;
        }

        &5 {
            font-size: 18px;
        }

        &6 {
            font-size: 12px;
        }
    }

    p {
        font-size: 18px;
    }

}


@media (max-width:1600px) {
    .order .popup .content .item-product {
        width: 65%;
    }
    .order .popup .content .item-product .input-name {
        padding-top: 50px;
    }
    h {
        &1 {
            font-size: 36px;
        }

        &2 {
            font-size: 30px;
        }

        &3 {
            font-size: 24px;
        }

        &4 {
            font-size: 18px;
        }

        &5 {
            font-size: 14px;
        }

        &6 {
            font-size: 10px;
        }
    }

    p {
        font-size: 16px;
    }

    .site41_intr_col12_vcic .item-image {
        right: -7%;
    }
    

}

@media (max-width: 1425px) {
    .site41_intr_col12_vcic .item-image {
      right: -15%;
  }
  .order .popup .content .item-product .btn {
      left: 39%;
  }
  .chuyengia .popup .content .item-product .item_personal_information .introduce {
    padding: 0 10px;
}
}


@media (max-width:1200px) {
    h {
        &1 {
            font-size: 30px;
        }

        &2 {
            font-size: 24px;
        }

        &3 {
            font-size: 20px;
        }

        &4 {
            font-size: 16px;
        }

        &5 {
            font-size: 12px;
        }

        &6 {
            font-size: 9px;
        }
    }

    p {
        font-size: 14px;
    }
    .order .popup .content .item-title h2 {
        font-size: 26px;
        margin: 15px 0;
    }
    .order .popup .content .item-product .btn {
        left: 37%;
    }
    .chuyengia .popup .content .item-product {
        width: 70%;
        height: 90%;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        display: block;
    }
    .site41_intr_col12_vcic .item-image {
        right: -30%;
    }
    .item-header-menu-top .container .menu-top .menu-wrapper {
        display: block;
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(1) {
        top: 0;
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(2) {
        top: 9px;
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(3) {
        top: 18px;
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(1) {
        transform: translateY(9px) rotate(135deg);
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(2) {
        opacity: 0;
        transform: translateX(-60px);
    }
    .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-135deg);
    }
    .site41_head_col0_vcic .item-header-menu-top .item-popup .btn {
        float: left;
    }
    .item-header-menu-top .container .menu-top .menu-list {
        padding-left: 0;
        top: 0;
        display: inline-grid;
        position: fixed;
        background: #FFFFFF;
        box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
        z-index: 999;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 0 0 0;
        padding-bottom: 100pc;
        width: 50%;
        right: 100%;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li {
    padding-bottom: 80px;
    padding-left: 40px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 20px;
        color: #2275BC;
    }
    .site41_head_col0_vcic .item-header-menu-top .btn {
        float: none;
    }
    .site41_pro_col12_ketquanghiencuu .item-title {
        display: contents;
    }
    .site41_pro_col12_ketquanghiencuu .item-title ul {
        position: relative;
        padding-top: 20px;
    }
    .site41_new_col12_tintuc .item-product .main {
        width: 100%;
    }
    .site41_new_col12_tintuc .item-product .list-products {
        width: 100%;
        padding: 50px 200px 0 10px;
    }
    .site41_new_col12_tintuc .item-product .list-products .extra {
        padding-bottom: 35px;
    }
    .site41_new_col12_tintuc .item-product .list-products .extra .product {
        padding-left: 25px;
    }
    .site41_head_col0_vcic .item-header-input .container .item-recta .search button {
        width: 15%;
    }
    .site41_head_col0_vcic .item-header-input .container .item-recta .search input {
        width: 85%;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu {
        padding-left: 15px;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 .product .item-img {
        height: 155px;
    }
    .site41_sanpham .site41_profil_col3_danhmuckqnc {
        padding: 0;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        width: 27%;
        display: flex;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login .conten {
        display: none;
    }
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 .product .item-img {
        height: 155px;
    }
    .site41_prodel_col12_relate_to_Information .item-list-sp .col-md-3 .product .item-img {
        height: 155px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 155px;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 155px;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav {
        .title3_3 {
            margin-right: 88px;
        }
        .noxop {
            margin: 0;
        }
    }
    .site41_new_col12_hot_news .slide_hot_news .cribe {
        .cd {
            padding: 0 0 20px 0;
        }
        p {
            padding-bottom: 5px;
        }
    }
    .site41_new_col12_hot_news .slide_hot_news .image_news .news-slide {
        .slick-next {
            top: 93.6%;
        }
        .slick-prev {
            top: 93.6%;
            left: 83%;
        }
    }
    .site41_new_col12_seminor_events .list-post-news {
        .col-md-6 {
            width: 100%;
            .img {
                width: 30%;
            }
            .product {
                width: 69%;
                p {
                    padding-bottom: 25px;
                }
            }
        }
    }
    .site41_new_col12_INVENT .list-post-news {
        .col-md-6 {
            width: 100%;
            .img {
                width: 30%;
            }
            .product {
                width: 69%;
                p {
                    padding-bottom: 25px;
                }
            }
        }
    }
    .site41_new_col12_hoithaosukien {
        .col-md-6 {
            width: 100%;
            .img {
                width: 30%;
            }
            .product {
                width: 69%;
                p {
                    padding-bottom: 25px;
                }
            }
        }
    }
    .site41_new_col8_page_chitiettintuc {
        .site41_new_col8_chitiettintuc {
            width: 100%;
        }
        .item_product_right {
            width: 100%;
            .site41_new_col4_tinnoibat {
                width: 75%;
                float: left;
                .title1_7 {
                    padding-bottom: 15px;
                }
                .list_news_hot {
                    padding-left: 25px;
                }
            }
            .site41_html_col4_quangcao {
                float: left;
                width: 70%;
                padding: 25px 0 25px 25px;
            }
            .site41_new_col4_tinlienquan {
                width: 75%;
                float: left;
                .title1_7 {
                    padding-bottom: 15px;
                }
                .list_news_hot {
                    padding-left: 25px;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    h {
        &1 {
            font-size: 30px;
        }

        &2 {
            font-size: 24px;
        }

        &3 {
            font-size: 20px;
        }

        &4 {
            font-size: 16px;
        }

        &5 {
            font-size: 12px;
        }

        &6 {
            font-size: 9px;
        }
    }

    p {
        font-size: 14px;
    }

    .title {
        &0 {
            font-size: 28px;
        }

        &1 {
            font-size: 26px;

            &_2 {
                font-size: 26px;
            }

            &_3 {
                font-size: 26px;
            }

            &_4 {
                font-size: 26px;
            }

            &_5 {
                font-size: 26px;
            }

            &_6 {
                font-size: 26px;
            }

            &_7 {
                font-size: 26px;
            }
        }
    
        &2 {
            font-size: 20px;

            &_2 {
                font-size: 20px;
            }

            &_3 {
                font-size: 20px;
            }

            &_4 {
                font-size: 20px;
            }
        }
    
        &3 {
            font-size: 16px;

            &_1 {
                font-size: 16px;
            }

            &_2 {
                font-size: 16px;
            }

            &_3 {
                font-size: 16px;
            }

            &_4 {
                font-size: 16px;
            }

            &_5 {
                font-size: 16px;
            }

            &_6 {
                font-size: 16px;
            }
        }
        
        &4 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }
    }

    .md {

        &1 {
            font-size: 14px;

            &_2 {
                font-size: 14px;
            }

            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }
        }
        
        &2 {
            font-size: 14px;
    
            &_1 {
                font-size: 14px;
            }
    
            &_2 {
                font-size: 13px;
            }
    
            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }

            &_5 {
                font-size: 14px;
            }
        }
    
        &3 {
            font-size: 12px;
            
            &_1 {
                font-size: 11px;
            }

            &_2 {
                font-size: 11px;
            }

            &_3 {
                font-size: 11px;
            }
        }
    }

    .italic {
        &2 {
            font-size: 16px;
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }
    }
    
    
    .nd {
    
        &1 {
            font-size: 14px;
    
            &_2 {
                font-size: 14px;
            }
        }
        
        &2 {
            &_1 {
                font-size: 14px;
            }
        }
    
        &3 {
            font-size: 11px;
        }
    }





    .order .popup .content .item-product .input-mail {
        width: 100%;
        float: left;
        padding-right: 0;
    }
    .order .popup .content .item-title h2 {
        font-size: 21px;
    }
    .order .popup .content .item-title h2 img {
        width: 30px;
    }
    .order .popup .content .item-product .input-name input {
        padding: 7px;
    }
    .order .popup .content .item-product .input-name {
        padding-top: 25px;
    }
    .order .popup .content .item-product .input-fl input {
        height: 130px;
        padding-bottom: 100px;
    }
    .order .popup .content .item-product .btn {
        left: 34%;
    }
    .order .popup .content .item-product .input-tell {
        width: 100%;
        float: right;
        padding-left: 0;
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li .image {
        height: 60px;
    }
    .site41_intr_col12_vcic .item-image {
        visibility: hidden;
    }
    .site41_intr_col12_vcic .item-product {
        width: 100%;
    }
    .site41_intr_col12_vcic .item-product ul .col-md-4 {
        width: 33%;
    }
    .site41_new_col12_tintuc .item-product .list-products {
        padding: 50px 10px 0 10px;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu {
        width: 100%;
        float: left;
        padding: 0;
        padding-top: 30px;
    }
    .site41_sanpham .site41_profil_col3_danhmuckqnc {
        width: 100%;
        float: left;
    }
    .site41_foot_col0_vcic .col-md-2 .list-cate li {
        padding-bottom: 15px;
    }
    .site41_foot_col0_vcic .col-md-2 .title12 {
        padding-bottom: 15px;
    }
    .site41_foot_col0_vcic .col-md-4 .title12 {
        margin: 20px 0;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta .soe {
        display: none;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta {
        width: 50%;
        margin-left: 25px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta .search {
        width: 100%;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display {
        position: relative;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        position: absolute;
        right: 80px;
        display: flex;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .cart {
        padding: 0 40px;
        display: flex;
        position: absolute;
        right: 50px;
    }
    .site41_sanpham .site41_profil_col3_danhmuckqnc .item_fields .extra li input {
        margin-top: 12px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login .log_in {
        display: none;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        width: 10%;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav {
        .title3_3 {
            margin-right: 65px;
        }
        .noxop {
            margin: 0;
        }
    }
    .site41_new_col12_hot_news .slide_hot_news {
        .image_news {
            width: 100%;
            float: left;
            .news-slide {
                .slick-next {
                    top: 95.6%;
                }
                .slick-prev {
                    top: 95.6%;
                    left: 89%;
                }
            }
        }
        .cribe {
            width: 100%;
            float: left;
            .cd {
                padding: 15px 0 10px 0;
            }
            p {
                padding-bottom: 5px;
            }
            .date {
                padding-bottom: 10px;
            }
        }
    }
    .site41_new_col12_seminor_events .list-post-news {
        .col-md-6 {
            .img {
                width: 35%;
            }
            .product {
                width: 64%;
            }
        }
    }
    .site41_new_col12_INVENT .list-post-news {
        .col-md-6 {
            .img {
                width: 35%;
            }
            .product {
                width: 64%;
            }
        }
    }
    .site41_new_col12_hoithaosukien {
        .col-md-6 {
            .img {
                width: 35%;
            }
            .product {
                width: 64%;
            }
        }
    }
}





@media screen and (max-width: 768px) {
    .title {
        &0 {
            font-size: 26px;
        }

        &1 {
            font-size: 24px;

            &_2 {
                font-size: 24px;
            }

            &_3 {
                font-size: 24px;
            }

            &_4 {
                font-size: 24px;
            }

            &_5 {
                font-size: 24px;
            }

            &_6 {
                font-size: 24px;
            }

            &_7 {
                font-size: 24px;
            }
        }
        &2 {
            font-size: 18px;

            &_2 {
                font-size: 18px;
            }

            &_3 {
                font-size: 18px;
            }

            &_4 {
                font-size: 18px;
            }
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }

            &_2 {
                font-size: 14px;
            }

            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }

            &_5 {
                font-size: 14px;
            }

            &_6 {
                font-size: 14px;
            }
        }
    }
    .order .popup .content .item-title h2 {
        font-size: 18px;
        img {
            width: 20px;
            margin: -5px 9px 0 0;
        }
    }
    .order .popup .content .item-product {
        width: 80%;
        .btn {
            left: 33%;
        }
    }
    .chuyengia .popup .content .item-product .item_personal_information {
        width: 35%;
        .avt {
            img {
                width: 100px;
            }
        }
        ul {
            padding: 20px 0;
        }
    }
    .chuyengia .popup .content .item-product .item_job_information {
        width: 65%;
        .list_job {
            .time_list_job {
                .list_yearh {
                    .md_title {
                        display: contents;
                        span {
                            padding: 10px 0 10px 10px;
                        }
                    }
                    .list_2_5 {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    .site41_head_col0_vcic .item-header-input .container .cart {
        padding: 0 25px;
    }
    .site41_head_col0_vcic .item-header-input .container .cart span {
        left: 35px;
    }
    .site41_intr_col12_vcic .item-product ul {
        padding: 35px 0;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        padding: 50px 180px 100px 25px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li {
        padding-left: 35px;
        padding-bottom: 50px;
    }
    .site41_foot_col0_vcic .col-md-4 {
        width: 100%;
        padding-bottom: 50px;
    }
    .site41_foot_col0_vcic .col-md-4 .item-input {
        padding-bottom: 50px;
    }
    .site41_foot_col0_vcic .col-md-4 .item-input input {
        width: 75%;
    }
    .site41_foot_col0_vcic .col-md-4 .item-input button {
        width: 7%;
    }
    .site41_head_col0_vcic .item-header-top {
        padding: 10px;
    }
    .site41_intr_col12_vcic {
        padding: 0 10px 20px 10px;
    }
    .site41_head_col0_vcic .item-header-menu-top {
        padding-left: 15px;
        padding-right: 15px;
    }
    .site41_new_col12_tintuc {
        padding: 50px 10px;
    }
    .site41_pro_col12_ketquanghiencuu {
        padding: 30px 10px;
    }
    .site41_html_col12_doitac {
        padding: 30px 10px;
    }
    .site41_html_col12_linklienket {
        padding: 30px 10px;
    }
    .site41_foot_col0_vcic {
        padding: 0 15px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 {
        width: 33.33333333%;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
        width: 33.33333333%;
    }
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 {
        width: 33.33333333%;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 {
        width: 33.33333333%;
    }
    .site41_prodel_col12_relate_to_Information .col-md-3 {
        width: 40%;
    }
    .site41_head_col0_vcic .item-header-input {
        padding: 15px 10px;
    }
    
    .site41_sanpham {
        padding: 20px 15px;
    }
    .site41_bann_col0_slide_sp {
        padding: 0 15px;
    }
    .site41_bann_col0_slide_cg {
        padding: 0 15px;
    }
    .site41_bann_col0_slide_news {
        padding: 0 15px;
    }
    .site41_bann_col0_slide_news_detail {
        padding: 0 15px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta {
        width: 48%;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta .search input {
        width: 85%;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta .search button {
        width: 15%;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .cart {
        padding: 0 20px 0 63px;
        position: relative;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .cart span {
        top: -5px;
        left: 73px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        width: 15%;
        position: revert;
        margin-left: -50px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 16px;
    }
    .order .popup .content .close {
        top: 0px;
        right: 10px;
    }
    .site41_prodel_col12_chitietsp {
        padding: 0 15px 50px 15px ;
    }
    .site41_prodel_col12_content_sp {
        padding: 0 15px;
    }
    .site41_prodel_col12_content_sp .item_lits_content .nac {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .site41_prodel_col12_content_sp .item_lits_content .title_it_content {
        visibility: visible;
        opacity: 1;
        display: inline-block;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav .title3_3 {
        margin-right: 0;
        justify-content: center;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav a:hover::after, .site41_prodel_col12_content_sp .item_lits_content nav a.active::after {
        width: 55%;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav .title3_3::after {
        left: 55px;
    }
    .btn.btn_lg {
        max-width: 220px;
    }
    .site41_prodel_col12_relate_to_Information {
        padding: 0 15px;
    }
    .site41_new_col12_tintuc .item-title .item-more_all {
        padding-right: 50px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-title .item-more_all {
        padding-right: 50px;
    }
    .site41_html_col12_chuyengia {
        padding: 0 15px 50px 15px;
    }
    .site41_bann_col0_slide_sp {
        height: 200px;
        .item-title {
            padding-top: 40px;
        }
    }
    .site41_bann_col0_slide_cg {
        height: 200px;
        .item-title {
            padding-top: 40px;
        }
    }
    .site41_bann_col0_slide_news {
        height: 200px;
        .item-title {
            padding-top: 40px;
        }
    }
    .site41_bann_col0_slide_news_detail {
        height: 200px;
        .item-title {
            padding-top: 40px;
        }
    }
    .site41_html_col12_danhsachchuyengia {
        padding: 25px 15px 50px 15px;
        .Frame_13723 {
            display: block;
            padding: 20px 0;
            .result {
                padding-bottom: 20px;
            }
            .item-list-unit {
                select {
                    width: 150px;
                }
            }
        }
    }
    .site41_new_col12_hot_news {
        padding: 50px 15px;
        .slide_hot_news {
            .image_news {
                .news-slide {
                    .slick-next {
                        top: 50%;
                        right: 3%;
                        width: 26px;
                        height: 63px;
                        background: #2f80ed38;
                        &:hover {
                            background: #8fc6f7ad;
                        }
                    }
                    .slick-prev {
                        top: 50%;
                        left: 3%;
                        width: 26px;
                        height: 63px;
                        background: #2f80ed38;
                        &:hover {
                            background: #8fc6f7ad;
                        }
                    }
                }
            }
            .cribe {
                width: 100%;
                float: left;
                .cd {
                    padding: 15px 0 10px 0;
                }
                p {
                    padding-bottom: 5px;
                }
                .date {
                    padding-bottom: 10px;
                }
            }
        }
    }
    .site41_new_col12_seminor_events {
        padding: 0 15px 30px 15px;
        .list-post-news {
            .col-md-6 {
                .img {
                    width: 40%;
                }
                .product {
                    width: 59%;
                    p {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .site41_new_col12_INVENT {
        padding: 0 15px 50px 15px;
        .list-post-news {
            .col-md-6 {
                .img {
                    width: 40%;
                }
                .product {
                    width: 59%;
                    p {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .site41_new_col12_hoithaosukien {
        padding: 50px 15px;
        .col-md-6 {
            .img {
                width: 40%;
            }
            .product {
                width: 59%;
                p {
                    padding-bottom: 0;
                }
            }
        }
    } 
    .site41_new_col8_page_chitiettintuc {
        padding: 50px 15px;
        .site41_new_col8_chitiettintuc {
            .item_title_page {
                display: block;
                .main {
                    float: left;
                }
            }
            .item-input-comment {
                input {
                    padding: 0 0 15px 15px;
                }
            }
        }
    }
}



/* man:  mobi */
@media screen and (max-width: 576px) {
        
    .title {
        &0 {
            font-size: 22px;
        }

        &1 {
            font-size: 20px;

            &_2 {
                font-size: 20px;
            }

            &_3 {
                font-size: 20px;
            }

            &_4 {
                font-size: 20px;
            }

            &_5 {
                font-size: 20px;
            }

            &_6 {
                font-size: 20px;
            }

            &_7 {
                font-size: 20px;
            }
        }
    
        &2 {
            font-size: 16px;

            &_2 {
                font-size: 16px;
            }

            &_3 {
                font-size: 16px;
            }

            &_4 {
                font-size: 16px;
            }
        }
    
        &3 {
            font-size: 12px;

            &_1 {
                font-size: 12px;
            }

            &_2 {
                font-size: 12px;
            }

            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }

            &_5 {
                font-size: 12px;
            }

            &_6 {
                font-size: 12px;
            }
        }

        &4 {
            font-size: 12px;

            &_1 {
                font-size: 12px;
            }
        }
    }

    .md {

        &1 {
            font-size: 12px;

            &_2 {
                font-size: 12px;
            }

            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }
        }
        
        &2 {
            font-size: 12px;
    
            &_1 {
                font-size: 12px;
            }
    
            &_2 {
                font-size: 13x;
            }
    
            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }

            &_5 {
                font-size: 12px;
            }
        }
    
        &3 {
            font-size: 10px;
            
            &_1 {
                font-size: 10px;
            }

            &_2 {
                font-size: 10px;
            }

            &_3 {
                font-size: 10px;
            }
        }
    }
    
    .italic {
        &2 {
            font-size: 14px;
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }
    }
    
    .nd {
    
        &1 {
            font-size: 12px;
    
            &_2 {
                font-size: 12px;
            }
        }
        
        &2 {
            &_1 {
                font-size: 12px;
            }
        }
    
        &3 {
            font-size: 10px;
        }
    }
    
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 14px;
    }
    .site41_prodel_col12_chitietsp .item_Information .column {
        width: 100%;
        float: left;
    }
    .site41_prodel_col12_chitietsp .item_Information .detail {
        width: 100%;
        padding-left: 10px;
        float: left;
    }
    .order .popup .content .item-product {
        .input-name {
            padding-top: 20px;
            h2 {
                margin: 10px 0;
            }
        }
        .input-mail h2 {
            margin: 10px 0;
        }
        .input-tell h2 {
            margin: 10px 0;
        }
        .input-sp h2 {
            margin: 10px 0;
        }
        .input-fl h2 {
            margin: 10px 0;
        }
        .btn {
            left: 28%;
        }
    }
    .order .popup .content .item-title h2 {
        font-size: 15px;
    }
    .chuyengia .popup .content .item-product {
        .item_personal_information {
            width: 100%;
            ul {
                padding-left: 25px;
                li {
                    display: flex;
                    align-items: center;
                    .image {
                        height: 25px;
                    }
                    .md1_2 {
                        padding-right: 10px;
                    }
                }
            }
        }
        .item_job_information {
            width: 100%;
        }
    }
    .site41_head_col0_vcic .item-header-top .language {
        display: none;
    }
    .site41_head_col0_vcic .item-header-input .container .cart {
        padding: 0 0 0 15px;
    }
    .site41_head_col0_vcic .item-header-input .container .cart span {
        left: 25px;
    }
    .site41_head_col0_vcic .item-header-input {
        padding: 15px 10px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        padding: 50px 60px 50px 25px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .site41_pro_col12_ketquanghiencuu .item-title ul {
        display: none;
    }
    .site41_new_col12_tintuc .item-product .list-products .extra .product {
        padding-left: 15px;
    }
    .site41_new_col12_tintuc .item-product .list-products .extra .product .date {
        display: none;
    }
    .site41_new_col12_tintuc .item-product .list-products .extra .product .title {
        padding: 0;
    }
    .site41_html_col12_doitac .item-title ul {
        display: none;
    }
    .site41_foot_col0_vcic .col-md-4 .item-input input {
        width: 70%;
    }
    .site41_foot_col0_vcic .col-md-4 .item-input button {
        width: 13%;
    }
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 .product .item-img {
        height: 180px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 {
        width: 50%;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
        width: 50%;
    }
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 {
        width: 50%;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 .product .item-img {
        height: 180px;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 {
        width: 50%;
    }
    .site41_prodel_col12_relate_to_Information .col-md-3 {
        width: 50%;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-title .title {
        display: contents;
    }
    .site41_head_col0_vcic .item-header-menu-top .search-box {
        display: inline-block;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .item-recta {
        display: none;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .cart {
        padding: 0 40px;
        display: flex;
        position: absolute;
        right: 100px;
    }
    .order .popup .content .item-title {
        width: 47%;
        left: 26%;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .cart span {
        top: -6px;
        left: 50px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        position: absolute;
        right: 50px;
        width: 10%;
        display: flex;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .croll_menu {
        top: 16px;
    }
    .site41_new_col12_tintuc .item-title .item-more_all {
        position: absolute;
        padding: 10px 0;
        bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia {
        padding-bottom: 50px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-title .item-more_all {
        position: absolute;
        padding: 10px 0;
        bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid #F2F2F2;
        border-top: 1px solid #F2F2F2;
    }
    .order .popup .content .item-title h2 {
        font-size: 12px;
    }
    .order .popup .content .item-product .btn {
        font-size: 18px;
    }
    .site41_prodel_col12_content_sp .main .contents .content .single .item_btn .btn {
        display: flex;
        justify-content: center;
        margin: 20px 35px 0 0;
    }
    .site41_bann_col0_slide_sp {
        height: 130px;
        .item-title {
            padding-top: 10px;
        }
    }
    .site41_bann_col0_slide_cg {
        height: 130px;
        .item-title {
            padding-top: 10px;
        }
    }
    .site41_bann_col0_slide_news {
        height: 130px;
        .item-title {
            padding-top: 10px;
        }
    }
    .site41_bann_col0_slide_news_detail {
        height: 130px;
        .item-title {
            padding-top: 10px;
        }
    }
    .site41_new_col12_seminor_events {
        .list-post-news {
            .col-md-6 {
                .img {
                    width: 100%;
                }
                .product {
                    width: 100%;
                    p {
                        padding-bottom: 0;
                    }
                    .view-all {
                        font-size: 13px;
                        img {
                            margin-top: -1px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .site41_new_col12_INVENT {
        .list-post-news {
            .col-md-6 {
                .img {
                    width: 100%;
                }
                .product {
                    width: 100%;
                    p {
                        padding-bottom: 0;
                    }
                    .view-all {
                        font-size: 13px;
                        img {
                            margin-top: -1px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .site41_new_col12_hoithaosukien {
        .col-md-6 {
            .img {
                width: 100%;
            }
            .product {
                padding-left: 0;
                width: 100%;
                p {
                    padding-bottom: 0;
                }
                .view-all {
                    font-size: 13px;
                    img {
                        margin-top: -1px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .site41_new_col8_page_chitiettintuc {
        padding-top: 25px;
        .site41_new_col8_chitiettintuc {
            .title1_6 {
                padding-bottom: 25px;
            }
            .gettit {
                .date {
                    img {
                        margin-top: -1px;
                        margin-right: 2px;
                    }
                }
                .operation {
                    .btn {
                        margin-right: 7px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .item_product_right {
            .site41_new_col4_tinnoibat {
                width: 85%;
            }
            .site41_html_col4_quangcao {
                width: 85%;
            }
            .site41_new_col4_tinlienquan {
                width: 85%;
            }
        }
    }
}


@media screen and (max-width: 460px) {
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 {
        width: 100%;
    }
    .site41_pro_col12_ketquanghiencuu .item-list-sp .col-md-3 .product .item-img {
        height: 230px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        padding: 50px 50px 50px 25px;
    }
    .order .popup .content .item-product .btn {
        left: 23%;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav a:hover::after, .site41_prodel_col12_content_sp .item_lits_content nav a.active::after {
        width: 60%;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav .title3_3::after {
        left: 40px;
    }
    .site41_prodel_col12_relate_to_Information .item-list-sp .col-md-3 .product .item-img {
        height: 125px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 130px;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 130px;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 .product .item-img {
        height: 130px;
    }
    .chuyengia .popup .content .item-product .item_job_information .list_job .title .title2_4 {
        font-size: 14px;
    }
    .chuyengia .popup .content .item-product .item_personal_information ul {
        padding-left: 10px;
    }
    .site41_new_col8_page_chitiettintuc {
        .site41_new_col8_chitiettintuc {
            .gettit {
                display: block;
            }
            .date {
                padding-bottom: 15px;
            }
        }
        .item_product_right {
            .site41_new_col4_tinnoibat {
                width: 100%;
            }
            .site41_html_col4_quangcao {
                width: 100%;
                padding: 25px 0;
            }
            .site41_new_col4_tinlienquan {
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .site41_head_col0_vcic .item-header-input .container .header-display .cart {
        right: 60px;
    }
    .site41_head_col0_vcic .item-header-top .header-contact ul .header-tell {
        display: none;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        padding: 50px 30px 50px 25px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 10px;
    }
    .order .popup .content .item-product .btn {
        left: 14%;
    }
    .site41_prodel_col12_content_sp .item_lits_content nav a:hover::after, .site41_prodel_col12_content_sp .item_lits_content nav a.active::after {
        width: 0%;
    }
    .site41_prodel_col12_relate_to_Information .item-list-sp .col-md-3 .product .item-img {
        height: 105px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 {
        width: 100%;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 240px;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 {
        width: 100%;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 240px;
    }
    .site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
        width: 100px;
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li {
        display: block;
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li .mail {
        display: flex;
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li .image {
        height: 35px;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 {
        width: 100%;
        .product .item-img {
            height: 222px;
        }
    }
    .chuyengia .popup .content .item-product .item_job_information .list_job .title .title2_4 {
        font-size: 13px;
    }
    .site41_new_col8_page_chitiettintuc .item_product_right .site41_new_col4_tinnoibat .list_news_hot {
        padding-left: 0;
    }
    .site41_new_col8_page_chitiettintuc .item_product_right .site41_new_col4_tinlienquan .list_news_hot {
        padding-left: 0;
    }
    .site41_new_col8_page_chitiettintuc .site41_new_col8_chitiettintuc .item-comment .check-cmt span {
        padding-right: 10px;
    }
    .site41_new_col8_page_chitiettintuc .site41_new_col8_chitiettintuc .item-input-comment input {
        padding: 0px 0 4px 10px;
    }
}

@media screen and (max-width: 285px) {
    .site41_head_col0_vcic .item-header-input .container .header-display .cart {
        display: none;
    }
    .site41_sanpham .site41_pro_col9_ketquanghiencuu .item-list-sp .col-md-4 .product .item-img {
        height: 130px;
    }
    .site41_head_col0_vcic .item-header-input .container .header-display .login {
        display: none;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list .logo-menu {
        padding: 50px 10px;
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 9px;
    }
    .order .popup .content .item-product .btn {
        font-size: 11px;
    }
    .order .popup .content .item-product .btn {
        left: 11%;
    }
    .site41_prodel_col12_relate_to_Information .item-list-sp .col-md-3 .product .item-img {
        height: 95px;
    }
    .site41_html_col12_chuyengia .item_lits_content_chuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 180px;
    }
    .site41_html_col12_danhsachchuyengia .item-list-sp .col-md-3 .product .item-img {
        height: 180px;
    }
    .site41_html_col12_danhsachchuyengia .Frame_13723 .item-list-unit select {
        width: 70px;
    }
    .chuyengia .popup .content .item-product .item_job_information .list_job .title .title2_4 {
        font-size: 12px;
    }
}