@media (min-width:1600px) {
    h {
        &1 {
            font-size: 40px;
        }

        &2 {
            font-size: 36px;
        }

        &3 {
            font-size: 30px;
        }

        &4 {
            font-size: 24px;
        }

        &5 {
            font-size: 18px;
        }

        &6 {
            font-size: 12px;
        }
    }

    p {
        font-size: 18px;
    }

}


@media (max-width:1600px) {

    h {
        &1 {
            font-size: 36px;
        }

        &2 {
            font-size: 30px;
        }

        &3 {
            font-size: 24px;
        }

        &4 {
            font-size: 18px;
        }

        &5 {
            font-size: 14px;
        }

        &6 {
            font-size: 10px;
        }
    }

    p {
        font-size: 16px;
    }

    .order .popup .content {
        label {
            width: 60%;
            .item-title {
                h2 {
                    font-size: 32px;
                }
            }
        }
    }
}

@media (max-width: 1425px) {
    .chuyengia .popup .content .item-product .item_personal_information .introduce {
        padding: 0 10px;
    }
    .order .popup .content {
        label {
            .item-product {
                .input-mail {
                    width: 100%;
                    float: left;
                    padding-right: 0;
                }
                .input-tell {
                    width: 100%;
                    float: left;
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-height: 768px) {

}

@media (max-width:1200px) {
    h {
        &1 {
            font-size: 30px;
        }

        &2 {
            font-size: 24px;
        }

        &3 {
            font-size: 20px;
        }

        &4 {
            font-size: 16px;
        }

        &5 {
            font-size: 12px;
        }

        &6 {
            font-size: 9px;
        }
    }

    p {
        font-size: 14px;
    }
    .order .popup .content label .item-title {
        h2 {
            font-size: 28px;
            img {
                width: 30px;
                margin: -9px 13px 0 0;
            }
        }
    }
    .chuyengia .popup .content .item-product {
        width: 70%;
        height: 90%;
    }
    .site41_head_col0_vcic {
        .item-header-input {
            .container {
                .item-recta {
                    .search {
                        button {
                            width: 15%;
                        }
                        input {
                            width: 85%;
                        }
                    }
                }
                .header-display {
                    .login {
                        width: 27%;
                        display: flex;
                        .conten {
                            display: none;
                        }
                    }
                }
            }
            
        }
        .item-header-menu-top {
            .menu-top {
                .menu-list {
                    padding-left: 0;
                    top: 0;
                    display: block;
                    position: fixed;
                    background: #FFFFFF;
                    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
                    z-index: 999;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    margin: 0 0 0 0;
                    height: 100%;
                    width: 35%;
                    right: 100%;
                    .logo-menu {
                        display: block;
                    }
                    li {
                        padding: 30px 0px 30px 40px;
                        .menu1 {
                            font-size: 20px;
                            color: #2275BC;
                        }
                    }
                }
                .menu-wrapper {
                    display: block;
                }
            }
            .item-popup {
                .btn {
                    float: none;
                }
            }
        }
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(1) {
        top: 0;
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(2) {
        top: 9px;
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger span:nth-child(3) {
        top: 18px;
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(1) {
        transform: translateY(9px) rotate(135deg);
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(2) {
        opacity: 0;
        transform: translateX(-60px);
    }
    .site41_head_col0_vcic .item-header-menu-top .container .menu-top .menu-wrapper .hamburger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-135deg);
    }
}


@media (max-width:1000px) {
    h {
        &1 {
            font-size: 30px;
        }

        &2 {
            font-size: 24px;
        }

        &3 {
            font-size: 20px;
        }

        &4 {
            font-size: 16px;
        }

        &5 {
            font-size: 12px;
        }

        &6 {
            font-size: 9px;
        }
    }

    p {
        font-size: 14px;
    }

    .title {
        &0 {
            font-size: 28px;
        }

        &1 {
            font-size: 26px;

            &_2 {
                font-size: 26px;
            }

            &_3 {
                font-size: 26px;
            }

            &_4 {
                font-size: 26px;
            }

            &_5 {
                font-size: 26px;
            }

            &_6 {
                font-size: 26px;
            }

            &_7 {
                font-size: 26px;
            }
        }
    
        &2 {
            font-size: 20px;

            &_2 {
                font-size: 20px;
            }

            &_3 {
                font-size: 20px;
            }

            &_4 {
                font-size: 20px;
            }
        }
    
        &3 {
            font-size: 16px;

            &_1 {
                font-size: 16px;
            }

            &_2 {
                font-size: 16px;
            }

            &_3 {
                font-size: 16px;
            }

            &_4 {
                font-size: 16px;
            }

            &_5 {
                font-size: 16px;
            }

            &_6 {
                font-size: 16px;
            }
        }
        
        &4 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }

            &_2 {
                font-size: 14px;
            }
        }
    }

    .md {

        &1 {
            font-size: 14px;

            &_2 {
                font-size: 14px;
            }

            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }

            &_5 {
                font-size: 14px;
            }
        }
        
        &2 {
            font-size: 14px;
    
            &_1 {
                font-size: 14px;
            }
    
            &_2 {
                font-size: 13px;
            }
    
            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }

            &_5 {
                font-size: 14px;
            }
        }
    
        &3 {
            font-size: 12px;
            
            &_1 {
                font-size: 11px;
            }

            &_2 {
                font-size: 11px;
            }

            &_3 {
                font-size: 11px;
            }
        }
    }

    .italic {
        &2 {
            font-size: 16px;
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }
    }
    
    .nd {
    
        &1 {
            font-size: 14px;
    
            &_2 {
                font-size: 14px;
            }
        }
        
        &2 {
            &_1 {
                font-size: 14px;
            }
        }
    
        &3 {
            font-size: 11px;
        }
    }
    
    .foot {
        &2 {
            font-size: 80px;
        }
    }

    .order .popup .content label {
        width: 55%;
        .item-title {
            margin-top: -80px;
            h2 {
                width: 60%;
                font-size: 24px;
                img {
                    width: 26px;
                    margin: -9px 13px 0 0;
                }
            }
        }
        .item-product {
            .close {
                top: 0;
                right: 15px;
            }
            .guiyeucau .btn {
                max-width: 155px;
            }
        }
    }
    .site41_head_col0_vcic {
        .item-header-input {
            .container {
                .header-display {
                    position: relative;
                    .item-recta {
                        width: 50%;
                        margin-left: 25px;
                        .soe {
                            display: none;
                        }
                        .search {
                            width: 100%;
                        }
                    }
                    .login {
                        position: absolute;
                        width: 10%;
                        right: 80px;
                        display: flex;
                        .log_in {
                            display: none;
                        }
                    }
                    .cart {
                        padding: 0 40px;
                        display: flex;
                        position: absolute;
                        right: 50px;
                    }
                }
            }
           
        }
        .item-header-menu-top {
            .menu-top {
                .menu-list {
                    .logo-menu {
                        padding: 25px 0 50px 0;
                    }
                }
            }
        }
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li .image {
        height: 60px;
    }
    .site41_foot_col0_vcic {
        .col-md-2 {
            .list-cate {
                li {
                    padding-bottom: 15px;
                }
            }
            .title12 {
                padding-bottom: 15px;
            }
        }
        .col-md-4 {
            .title12 {
                margin: 20px 0;
            }
        }
    }
}





@media screen and (max-width: 768px) {
    .title {
        &0 {
            font-size: 26px;
        }

        &1 {
            font-size: 24px;

            &_2 {
                font-size: 24px;
            }

            &_3 {
                font-size: 24px;
            }

            &_4 {
                font-size: 24px;
            }

            &_5 {
                font-size: 24px;
            }

            &_6 {
                font-size: 24px;
            }

            &_7 {
                font-size: 24px;
            }
        }
        &2 {
            font-size: 18px;

            &_2 {
                font-size: 18px;
            }

            &_3 {
                font-size: 18px;
            }

            &_4 {
                font-size: 18px;
            }
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }

            &_2 {
                font-size: 14px;
            }

            &_3 {
                font-size: 14px;
            }

            &_4 {
                font-size: 14px;
            }

            &_5 {
                font-size: 14px;
            }

            &_6 {
                font-size: 14px;
            }
        }
    }


    .order .popup .content label {
        width: 75%;
        .item-title {
            margin-top: -75px;
            h2 {
                font-size: 20px;
                img {
                    width: 20px;
                    margin: -6px 13px 0 0;
                }
            }
        }
    }
    .chuyengia {
        .popup {
            .content {
                .item-product {
                    .item_personal_information {
                        width: 35%;
                        .avt {
                            img {
                                width: 100px;
                            }
                        }
                        ul {
                            padding: 20px 0;
                        }
                    }
                    .item_job_information {
                        width: 65%;
                        .list_job {
                            .time_list_job {
                                .list_yearh {
                                    .md_title {
                                        display: contents;
                                        span {
                                            padding: 10px 0 10px 10px;
                                        }
                                    }
                                    .list_2_5 {
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .site41_foot_col0_vcic {
        padding: 0 15px;
        .col-md-4 {
            width: 100%;
            padding-bottom: 50px;
            .item-input {
                padding-bottom: 50px;
                input {
                    width: 75%;
                }
                button {
                    width: 7%;
                }
            }
        }
    }
    .site41_head_col0_vcic {
        .item-header-top {
            padding: 10px;
        }
        .item-header-input {
            padding: 15px 10px;
            .container {
                .header-display {
                    .item-recta {
                        width: 48%;
                        .search {
                            input {
                                width: 85%;
                            }
                            button {
                                width: 15%;
                            }
                        }
                    }
                    .cart {
                        padding: 0 20px 0 63px;
                        position: relative;
                        span {
                            top: -5px;
                            left: 73px;
                        }
                    }
                    .login {
                        width: 15%;
                        position: relative;
                        margin-left: -50px;
                        justify-content: flex-end;
                    }
                }
            }
        }
        .item-header-menu-top {
            padding: 8px 15px;
            .menu-top {
                .menu-list {
                    width: 45%;
                    li {
                        .menu1 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .btn.btn_lg {
        max-width: 220px;
    }
}



/* man:  mobi */
@media screen and (max-width: 576px) {
        
    .title {
        &0 {
            font-size: 22px;
        }

        &1 {
            font-size: 20px;

            &_2 {
                font-size: 20px;
            }

            &_3 {
                font-size: 20px;
            }

            &_4 {
                font-size: 20px;
            }

            &_5 {
                font-size: 20px;
            }

            &_6 {
                font-size: 20px;
            }

            &_7 {
                font-size: 20px;
            }
        }
    
        &2 {
            font-size: 16px;

            &_2 {
                font-size: 16px;
            }

            &_3 {
                font-size: 16px;
            }

            &_4 {
                font-size: 16px;
            }
        }
    
        &3 {
            font-size: 12px;

            &_1 {
                font-size: 12px;
            }

            &_2 {
                font-size: 12px;
            }

            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }

            &_5 {
                font-size: 12px;
            }

            &_6 {
                font-size: 12px;
            }
        }

        &4 {
            font-size: 12px;

            &_1 {
                font-size: 12px;
            }

            &_2 {
                font-size: 12px;
            }
        }
    }

    .md {

        &1 {
            font-size: 12px;

            &_2 {
                font-size: 12px;
            }

            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }

            &_5 {
                font-size: 12px;
            }
        }
        
        &2 {
            font-size: 12px;
    
            &_1 {
                font-size: 12px;
            }
    
            &_2 {
                font-size: 13px;
            }
    
            &_3 {
                font-size: 12px;
            }

            &_4 {
                font-size: 12px;
            }

            &_5 {
                font-size: 12px;
            }
        }
    
        &3 {
            font-size: 10px;
            
            &_1 {
                font-size: 10px;
            }

            &_2 {
                font-size: 10px;
            }

            &_3 {
                font-size: 10px;
            }
        }
    }
    
    .italic {
        &2 {
            font-size: 14px;
        }

        &3 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }
    }
    
    .nd {
    
        &1 {
            font-size: 12px;
    
            &_2 {
                font-size: 12px;
            }
        }
        
        &2 {
            &_1 {
                font-size: 12px;
            }
        }
    
        &3 {
            font-size: 10px;
        }
    }
    


    .order .popup .content label {
        .item-title {
            h2 {
                font-size: 20px;
                img {
                    width: 20px;
                    margin: -6px 13px 0 0;
                }
            }
        }
        .item-product {
            padding: 0 15px;
            .close {
                font-size: 35px;
                top: 0;
                right: 10px;
            }
            .input-name {
                padding: 0;
                h2 {
                    margin: 10px 0;
                }
            }
        }
    }
    .chuyengia .popup .content .item-product {
        .item_personal_information {
            width: 100%;
            ul {
                padding-left: 25px;
                li {
                    display: flex;
                    align-items: center;
                    .image {
                        height: 25px;
                    }
                    .md1_2 {
                        padding-right: 10px;
                    }
                }
            }
        }
        .item_job_information {
            width: 100%;
        }
    }
    .site41_head_col0_vcic {
        .item-header-top {
            .language {
                display: none;
            }
        }
        .item-header-input {
            padding: 15px 10px;
            .container {
                .header-display {
                    .item-recta {
                        display: none;
                    }
                    .cart {
                        padding: 0 0 0 15px;
                        padding: 0 40px;
                        display: flex;
                        position: absolute;
                        right: 100px;
                        span {
                            left: 50px;
                            top: -6px;
                        }
                    }
                    .login {
                        position: absolute;
                        right: 50px;
                        justify-content: flex-start;
                        width: 10%;
                        display: flex;
                    }
                }
            }
        }
        .item-header-menu-top {
            .menu-top {
                .menu-list {
                    width: 50%;
                    .logo-menu {
                        padding: 25px 0;
                        .foot2 {
                            font-size: 65px;
                        }
                        li {
                            padding: 20px 0px 25px 30px;
                        }
                    }
                }
            }
            .search-box {
                display: inline-block;
            }
            .croll_menu {
                top: 16px;
            }
        }
    }

    .site41_foot_col0_vcic {
        .col-md-4 {
            .item-input {
                input {
                    width: 70%;
                }
                button {
                    width: 13%;
                }
            }
        }
    }
}


@media screen and (max-width: 460px) {
    .order .popup .content label {
        .item-title {
            h2 {
                font-size: 16px;
                img {
                    width: 19px;
                    margin: -6px 9px 0 0;
                }
            }
        }
        .item-product {
            padding: 0 15px;
            .close {
                font-size: 30px;
            }
            .input-name {
                padding: 0;
                h2 {
                    margin: 10px 0;
                }
            }
        }
    }




    .chuyengia {
        .popup {
            .content {
                .item-product {
                    .item_job_information {
                        .list_job {
                            .title {}
                            .title2_4 {
                                font-size: 14px;
                            }
                        }
                    }
                    .item_personal_information {
                        ul {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .site41_head_col0_vcic .item-header-menu-top .menu-top .menu-list li .menu1 {
        font-size: 14px;
    }
}


@media screen and (max-width: 400px) {
    .order .popup .content label {
        .item-title {
            margin-top: -70px;
            h2 {
                font-size: 14px;
                width: 65%;
                img {
                    display: none;
                }
            }
        }
    }
    .foot2 {
        font-size: 50px;
    }
    .site41_head_col0_vcic {
        .item-header-top {
            .header-contact {
                ul {
                    .header-tell {
                        display: none;
                    }
                }
            }
        }
        .item-header-input {
            .container {
                .header-display {
                    .cart {
                        right: 60px;
                    }
                }
            }
        }
        .item-header-menu-top {
            .menu-top {
                .menu-list {
                    .logo-menu {
                        padding: 15px 0 10px 0;
                    }
                }
            }
        }
    }
    .chuyengia .popup .content .item-product .item_personal_information ul li {
        display: block;
        .mail {
            display: flex;
        }
        .image {
            height: 35px;
        }
    }
    .chuyengia .popup .content .item-product .item_job_information .list_job .title .title2_4 {
        font-size: 13px;
    }

}

@media screen and (max-width: 285px) {
    .site41_head_col0_vcic {
        .item-header-input {
            .container {
                .header-display {
                    .cart {
                        display: none;
                    }
                    .login {
                        display: none;
                    }
                }
            }
        }
        .item-header-menu-top {
            .menu-top {
                .menu-list {
                    .logo-menu {
                        padding: 0;
                        .foot2 {
                            font-size: 40px;
                        }
                    }
                    li {
                        padding: 15px 0px 15px 15px;
                        .menu1 {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    .chuyengia .popup .content .item-product .item_job_information .list_job .title .title2_4 {
        font-size: 12px;
    }
}