* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-decoration: none;
}
ol,
ul,
li {
    font-family: Roboto;
    font-style: normal;
}

.title {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 150.19%;
        text-transform: uppercase;
        color: #333333;
        &1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150.19%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
    &2 {
        font-family: Poppins-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        color: #FFFFFF;
    }
    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150.19%;
        color: #4F4F4F;
    }
    &4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 150.19%;
        color: #5C5C5C;

    }
}

.color {
    &1{
        color: red;        
    }

}
.menu {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.19%;
        text-transform: uppercase;
        color: #5C5C5C;
    }
}
.nd {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.19%;
        color: #5C5C5C;
        &3{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #333333;
        }
    }
    &2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150.19%;
        color: #2275BC;
        &b{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150.19%;
            color: #5C5C5C;
        }
    }
    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150.5%;
        color: #2275BC;
        &1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #828282;
        }
    }
}

.md {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140.1%;
        color: #061A3A;
        &1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #FFFFFF;
        }
    } 
    &2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140.1%;
        color: #061A3A;
    }
    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &4 {
        font-family: SVN-Gotham;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 164.71%;
        color: #FFFFFF;
    }
    &5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.19%;
        color: #828282;
    }
}