* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif, 'Poppins-bold';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-decoration: none;
}
ol,
ul,
li {
    font-family: Roboto;
    font-style: normal;
}

.color {
    &1 {
        color: #FA110D;
    }
}
.title {
    &0 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 140.1%;
        text-transform: uppercase;
        color: #5C5C5C;
    }

    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 150.19%;
        text-transform: uppercase;
        color: #333333;

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150.19%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 150.19%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #5C5C5C;
        }

        &_4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 150.5%;
            color: #4F4F4F;
        }

        &_5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150.19%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #4F4F4F;
        }

        &_6 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 140.1%;
            text-transform: uppercase;
            color: #333333;
        }

        &_7 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 150.19%;
            color: #061A3A;
        }
    }

    &2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #5C5C5C;

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
            color: #828282;
        }

        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 150.19%;
            text-transform: uppercase;
            color: #4F4F4F;
        }

        &_4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 150.19%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.5%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #5C5C5C;

        &_1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            text-align: center;
            color: #FFFFFF;
        }

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150.5%;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #828282;
        }

        &_4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            text-align: center;
            color: #2D9CDB;
        }

        &_5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150.5%;
            color: #5C5C5C;
        }
        
        &_6 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150.5%;
            color: #F32323;
        }
    }

    &4 {
        font-family: SVN-Gotham;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #494D52;

        &_1 {
            font-family: SVN-Gotham-500;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #424242;
        }

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #BDBDBD;
        }
    }

}

.md {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140.1%;
        color: #061A3A;

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140.1%;
            display: flex;
            color: #4F4F4F;
        }

        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #333333;
        }

        &_4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150.19%;
            color: #5C5C5C;
        }

        &_5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #ADADAD;
        }
    }
    
    &2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #4F4F4F;

        &_1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150.5%;
            color: #2275BC;
        }

        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
        &_4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #828282;
        }
        &_5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #5C5C5C;
        }
    }

    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150.19%;
        color: #2275BC;
        
        &_1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140.1%;
            color: #061A3A;
        }
        
        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140.1%;
            color: #4F4F4F;
        }

        &_3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140.1%;
            color: #828282;
        }
    }
}

.italic {
    &2 {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.19%;
        color: #5C5C5C;
    }

    &3 {
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 150.19%;
        text-align: justify;
        color: #5C5C5C;
        
        &_1 {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 150.19%;
            text-align: justify;
            color: #5C5C5C;
        }
    }
}

.nd {
    &1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150.19%;
        text-align: justify;
        color: #5C5C5C;

        &_2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150.19%;
            text-align: justify;
            color: #4F4F4F;
        }
    }
    
    &2 {
        &_1 {
            font-family: SVN-Gotham;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 164.71%;
            text-align: justify;
            color: #FFFFFF;
        }
    }

    &3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150.19%;
        text-align: center;
        color: #5C5C5C;
    }
}



.foot {
    &1 {
        font-family: Poppins-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        color: #FFFFFF;
    }

}