.section_header .top-header {
  width: 100%;
}
.section_header .top-header .logo {
  float: left;
  width: 50%;
  margin: 10px;
}
.section_header .top-header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 20%;
  margin: 10px;
}
.section_header .top-header .item .netword {
  width: 50%;
}
.section_header .top-header .item .language {
  float: right;
  width: 50%;
}
.section_header .top-header .item .language a {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #EC8C1D;
}
.section_header .top-header .item .language .EN {
  opacity: 0.3;
}