.section_header {
	.top-header {
		width: 100%;
		.logo {
			float: left;
			width: 50%;
			margin: 10px;
		}
		.item {
			display: flex;
			float: right;
			width: 20%;
			margin: 10px;
			.netword {
				width: 50%;
			}
			.language {
				float: right;
				width: 50%;
				a {
					font-family: Nunito;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 22px;
					color: #EC8C1D;
				}
				.EN {
					opacity: 0.3;
				}
			}
		}
	}
}